# OECD 나라 / 연령대 / 시간대별 인구수 분석

In [1]:
import pandas as pd
import numpy as np

## 데이터 불러오기

In [2]:
pdata = pd.read_csv('../Data/Population/01_population.csv')
young = pd.read_csv('../Data/Population/02_young_pop.csv')
working = pd.read_csv('../Data/Population/03_working_age_pop.csv')
elderly = pd.read_csv('../Data/Population/04_elderly_pop.csv')
fertility_rates = pd.read_csv('../Data/Population/05_fertility_rates.csv')

해석: 

pdata: 전체 인구
young: 15세 미만의 인구 수 

```
The youth population is defined as those people aged less than15. The share of the dependent population is calculated as total elderly and youth population expressed as a ratio of the total population. The youth-dependency ratio relates the number of young persons that are likely to be dependent on the support of others for their daily needs to the number of those who are capable of providing such support. Demographic trends have a number of implications for government and private spending on pensions, health care, and education, and, more generally, for economic growth and welfare. This indicator is measured as a percentage of population.
```

working : 15이상 64이하의 인구 수

```
The working age population is defined as those aged 15 to 64. The basic indicator for employment is the proportion of the working age population aged 15-64 who are employed. The age dependency ratio is the ratio of dependents (people younger than 15 or older than 64) to the working-age population. This indicator is measured as a percentage of population.
```

elderly :65세 이상

```
The elderly population is defined as people aged 65 and over. The share of the dependent population is calculated as total elderly and youth population expressed as a ratio of the total population. The elderly dependency rate is defined as the ratio between the elderly population and the working age (15-64 years) population. The comparability of elderly population data is affected by differences, both within and across countries, in how regions and the geography of rural and urban communities, are defined. Elderly people tend to be concentrated in few areas within each country, which means that a small number of regions will have to face a number of specific social and economic challenges due to population ageing. These demographic trends have a number of implications for government and private spending on pensions, health care, and education and, more generally, for economic growth and welfare. This indicator is measured as a percentage of population.
```

fertility_rates:

```
The total fertility rate in a specific year is defined as the total number of children that would be born to each woman if she were to live to the end of her child-bearing years and give birth to children in alignment with the prevailing age-specific fertility rates. It is calculated by totalling the age-specific fertility rates as defined over five-year intervals. Assuming no net migration and unchanged mortality, a total fertility rate of 2.1 children per woman ensures a broadly stable population. Together with mortality and migration, fertility is an element of population growth, reflecting both the causes and effects of economic and social developments. The reasons for the dramatic decline in birth rates during the past few decades include postponed family formation and child-bearing and a decrease in desired family sizes. This indicator is measured in children per woman.
```

In [3]:
pdata.head(2)

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME     Value Flag Codes
0      AUS       POP     TOT  AGRWTH         A  1957  2.270316        NaN
1      AUS       POP     TOT  AGRWTH         A  1958  2.095436        NaN

In [8]:
pdata.dtypes

LOCATION       object
INDICATOR      object
SUBJECT        object
MEASURE        object
FREQUENCY      object
TIME            int64
Value         float64
Flag Codes     object
dtype: object

In [15]:
pdata[(pdata['LOCATION'] == 'KOR') & (pdata['SUBJECT']=='TOT')]

     LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME      Value Flag Codes
3668      KOR       POP     TOT   AGRWTH         A  1960   3.058864        NaN
3669      KOR       POP     TOT   AGRWTH         A  1961   3.011705        NaN
3670      KOR       POP     TOT   AGRWTH         A  1962   2.900592        NaN
3671      KOR       POP     TOT   AGRWTH         A  1963   2.823959        NaN
3672      KOR       POP     TOT   AGRWTH         A  1964   2.649896        NaN
...       ...       ...     ...      ...       ...   ...        ...        ...
3828      KOR       POP     TOT  MLN_PER         A  2010  49.410370          B
3829      KOR       POP     TOT  MLN_PER         A  2011  49.779440        NaN
3830      KOR       POP     TOT  MLN_PER         A  2012  50.004440        NaN
3831      KOR       POP     TOT  MLN_PER         A  2013  50.220000        NaN
3832      KOR       POP     TOT  MLN_PER         A  2014  50.424000        NaN

[110 rows x 8 columns]

In [50]:
total_pop = pdata[pdata['SUBJECT'] == 'TOT']
total_wom = pdata[pdata['SUBJECT'] == 'WOMEN']
total_men = pdata[pdata['SUBJECT'] == 'MEN']

## Colunm 해석

LOCATION

INDICATOR

SUBJECT

MEASURE
    'AGRWTH' = Anual Growth Rate 연간 증가율
    'MLN_PER' = Milion person
FREQUENCY

TIME

Value

Flag Codes

In [13]:
young['MEASURE'].unique()

array(['PC_POP'], dtype=object)

In [13]:
young.head(2)

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME     Value Flag Codes
0      AUS    YNGPOP     TOT  PC_POP         A  1956  29.38680        NaN
1      AUS    YNGPOP     TOT  PC_POP         A  1957  29.63693        NaN

In [12]:
working['MEASURE'].unique()

array(['PC_POP'], dtype=object)

In [14]:
working.head(2)

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME     Value Flag Codes
0      AUS    WKGPOP     TOT  PC_POP         A  1956  62.18969        NaN
1      AUS    WKGPOP     TOT  PC_POP         A  1957  61.88797        NaN

In [11]:
elderly['MEASURE'].unique()

array(['PC_POP'], dtype=object)

In [15]:
elderly.head(2)

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME     Value Flag Codes
0      AUS  ELDLYPOP     TOT  PC_POP         A  1956  8.423510        NaN
1      AUS  ELDLYPOP     TOT  PC_POP         A  1957  8.475103        NaN

In [16]:
fertility_rates.head(2)

  LOCATION  INDICATOR SUBJECT    MEASURE FREQUENCY  TIME  Value  Flag Codes
0      AUS  FERTILITY     TOT  CHD_WOMAN         A  1960   3.45         NaN
1      AUS  FERTILITY     TOT  CHD_WOMAN         A  1961   3.55         NaN

In [24]:
pdata['LOCATION'].unique() # 44개국

44