In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
train = pd.read_csv('../Data/PJT002_train.csv')
test = pd.read_csv('../Data/PJT002_test.csv')
valid = pd.read_csv('../Data/PJT002_validation.csv')

print('train', train.shape)
print('test', test.shape)
print('valid', valid.shape)

train.sample()

train (59199, 172)
test (2957, 171)
valid (6898, 172)

,id,dt_of_fr,bldng_us,bldng_archtctr,bldng_cnt,bldng_ar,ttl_ar,lnd_ar,dt_of_athrztn,ttl_grnd_flr,...,mlt_us_yn,cctv_dstnc,cctv_in_100m,fr_wthr_fclt_in_100m,tbc_rtl_str_dstnc,sft_emrgnc_bll_dstnc,ahsm_dstnc,no_tbc_zn_dstnc,bldng_cnt_in_50m,fr_yn
21225,74914,2017-12-02 08:29:20,단독주택,일반목구조,1,38.25,51.51,69.4,1938,NaN,...,N,101,0,0,372,15132,215,432,6,N

In [4]:
# train-test-valid 데이터셋 모두 합쳐서 전처리
train['tag'] = 'train'
test['tag'] = 'test'
valid['tag'] = 'valid'

df = pd.concat([train, test, valid])
df.sample()

,ahsm_dstnc,bldng_ar,bldng_ar_prc,bldng_archtctr,bldng_cnt,bldng_cnt_in_50m,bldng_us,bldng_us_clssfctn,cctv_dstnc,cctv_in_100m,...,rgnl_ar_nm2,sft_emrgnc_bll_dstnc,tag,tbc_rtl_str_dstnc,tmprtr,ttl_ar,ttl_dwn_flr,ttl_grnd_flr,wnd_drctn,wnd_spd
68,18980,70.53,1012244.0,철근콘크리트구조,1,13,단독주택,주거용,60,1,...,지정되지않음,385,valid,364,16.1,185.53,0.0,3.0,140.0,1.2

In [6]:
# 컬럼명 확인
pd.DataFrame(df.columns)

                        0
0              ahsm_dstnc
1                bldng_ar
2            bldng_ar_prc
3          bldng_archtctr
4               bldng_cnt
5        bldng_cnt_in_50m
6                bldng_us
7       bldng_us_clssfctn
8              cctv_dstnc
9            cctv_in_100m
10          dt_of_athrztn
11               dt_of_fr
12    ele_engry_us_201401
13    ele_engry_us_201402
14    ele_engry_us_201403
15    ele_engry_us_201404
16    ele_engry_us_201405
17    ele_engry_us_201406
18    ele_engry_us_201407
19    ele_engry_us_201408
20    ele_engry_us_201409
21    ele_engry_us_201410
22    ele_engry_us_201411
23    ele_engry_us_201412
24    ele_engry_us_201501
25    ele_engry_us_201502
26    ele_engry_us_201503
27    ele_engry_us_201504
28    ele_engry_us_201505
29    ele_engry_us_201506
..                    ...
143        lnd_us_sttn_nm
144           lw_13101010
145           lw_13101110
146           lw_13101210
147           lw_13101211
148           lw_13101310
149           lw_13101410
150           lw_13111010
151           lw_13111110
152           lw_13121010
153           lw_13121011
154           lw_13131010
155           lw_13131110
156           lw_13141010
157           lw_13141011
158             mlt_us_yn
159       no_tbc_zn_dstnc
160               prcpttn
161              rd_sd_nm
162            rgnl_ar_nm
163           rgnl_ar_nm2
164  sft_emrgnc_bll_dstnc
165                   tag
166     tbc_rtl_str_dstnc
167                tmprtr
168                ttl_ar
169           ttl_dwn_flr
170          ttl_grnd_flr
171             wnd_drctn
172               wnd_spd

[173 rows x 1 columns]

## Null 값 확인

In [8]:
df.isnull().sum()

ahsm_dstnc                  0
bldng_ar                    0
bldng_ar_prc            26325
bldng_archtctr          29224
bldng_cnt                   0
bldng_cnt_in_50m            0
bldng_us                29259
bldng_us_clssfctn       31642
cctv_dstnc                  0
cctv_in_100m                0
dt_of_athrztn           29132
dt_of_fr                    0
ele_engry_us_201401     49681
ele_engry_us_201402     49681
ele_engry_us_201403     49681
ele_engry_us_201404     49681
ele_engry_us_201405     49681
ele_engry_us_201406     49681
ele_engry_us_201407     49681
ele_engry_us_201408     49681
ele_engry_us_201409     49681
ele_engry_us_201410     49681
ele_engry_us_201411     49681
ele_engry_us_201412     49681
ele_engry_us_201501     49681
ele_engry_us_201502     49681
ele_engry_us_201503     49681
ele_engry_us_201504     49681
ele_engry_us_201505     49681
ele_engry_us_201506     49681
                        ...
lnd_us_sttn_nm           2012
lw_13101010             68611
lw_13101110             68622
lw_13101210             68616
lw_13101211             68615
lw_13101310             68621
lw_13101410             68630
lw_13111010             68613
lw_13111110             68632
lw_13121010             68640
lw_13121011             68640
lw_13131010             68617
lw_13131110             68617
lw_13141010             68621
lw_13141011             68622
mlt_us_yn                   0
no_tbc_zn_dstnc             0
prcpttn                 62721
rd_sd_nm                 1623
rgnl_ar_nm               1623
rgnl_ar_nm2              1623
sft_emrgnc_bll_dstnc        0
tag                         0
tbc_rtl_str_dstnc           0
tmprtr                     15
ttl_ar                      0
ttl_dwn_flr             12329
ttl_grnd_flr            11348
wnd_drctn                 237
wnd_spd                    38
Length: 173, dtype: int64

- ['bldng_us_clssfctn', 29343]건물용도분류명(주거용)   
- ['bldng_us', 27677]건물용도(단독주택)  
- ['bldng_archtctr', 27665]건물구조(벽돌구조)  
- ['dt_of_athrztn', 27581]건물승인일자(19850417)  
- ['bldng_ar_prc', 21895]단위 면적당 건물 가격_2019년 기준(312411)  
- ['ttl_dwn_flr', 11005]건물들의 지하 층수의 합(0)  
- ['ttl_grnd_flr', 10210]건물들의 지상 층수의 합(4)  
- ['lnd_us_sttn_nm', 1776]토지 이용상황명(전)
- ['rd_sd_nm', 1491]도로측면명(맹지)  
- ['rgnl_ar_nm2', 1491]용도지역지구명2(지정되지 않음)  
- ['rgnl_ar_nm', 1491]용도지역지구명(개발제한구역)  
- ['hm_cnt', 701]행정구역 인구(27312)  
- ['wnd_drctn', 221]풍향(270)
- ['fr_mn_cnt', 41]관할 소방서 인원(224)  
- ['wnd_spd', 33]풍속(2.2)
- ['hmdt', 22]습도(77)
- ['tmprtr', 13]온도_c(4.4)  
- ['emd_nm', 4]행정구역명(경상남도 진주시 판문동)  
__________________________________________________
- ['bldng_cnt_in_50m', 0]반경 50M 이내의 건물 수(23)  
- ['no_tbc_zn_dstnc', 0]금연구역과의 최소 거리(235)  
- ['fr_wthr_fclt_in_100m', 0]반경 100M 이내 소방용수 시설 수(2)  
- ['ahsm_dstnc', 0]자동 심장 충격기와의 최소 거리(234)  
- ['sft_emrgnc_bll_dstnc', 0]안전 비상벨과의 최소 거리(233)  
- ['tbc_rtl_str_dstnc', 0]담배 소매점과의 최소 거리(232)  
- ['cctv_in_100m', 0]반경 100M 이내 공공 CCTV(1)  
- ['mlt_us_yn', 0]다중이용시설 포함여부(Y)  
- ['cctv_dstnc', 0]공공 CCTV와의 최소 거리(232)  
- ['fr_wthr_fclt_dstnc', 0]소방용수시설(소화전 등)과의 최소 거리(223)  
- ['fr_sttn_dstnc', 0]119안전센터와의 거리(3222)  
- ['jmk', 0]지적상 지목(답)  
- [dt_of_fr', 0]화재발생일시(2014-03-18 15:23:18)  
- ['lnd_ar', 0]토지면적(390)  
- ['ttl_ar', 0]건물연면적_건물층별합계전체면적(130.845)  
- ['bldng_ar', 0]건물건축면적(130.845)  
- ['bldng_cnt', 0]건물채수(4)

## 전기/가스 사용량 컬럼 제외
Null 값도 많고, 컬럼 수가 너무 많아서 제외

In [9]:
columns = ['id', 'dt_of_fr', 'bldng_us', 'bldng_archtctr', 'bldng_cnt'
           , 'bldng_ar', 'ttl_ar', 'lnd_ar', 'dt_of_athrztn', 'ttl_grnd_flr'
           , 'ttl_dwn_flr', 'bldng_us_clssfctn', 'tmprtr', 'prcpttn'
           , 'wnd_spd', 'wnd_drctn', 'hmdt'
           , 'jmk' 
           , 'emd_nm', 'hm_cnt'
           , 'fr_sttn_dstnc', 'fr_wthr_fclt_dstnc'
           , 'mlt_us_yn', 'cctv_dstnc', 'cctv_in_100m', 'fr_mn_cnt'
           , 'fr_wthr_fclt_in_100m', 'tbc_rtl_str_dstnc', 'sft_emrgnc_bll_dstnc'
           , 'ahsm_dstnc', 'no_tbc_zn_dstnc', 'bldng_cnt_in_50m', 'fr_yn'
           , 'tag'
          ]

df = df[columns]
df.sample()

,id,dt_of_fr,bldng_us,bldng_archtctr,bldng_cnt,bldng_ar,ttl_ar,lnd_ar,dt_of_athrztn,ttl_grnd_flr,...,cctv_in_100m,fr_mn_cnt,fr_wthr_fclt_in_100m,tbc_rtl_str_dstnc,sft_emrgnc_bll_dstnc,ahsm_dstnc,no_tbc_zn_dstnc,bldng_cnt_in_50m,fr_yn,tag
1402,120773,2017-08-21 08:47:00,제2종근린생활시설,철근콘크리트구조,1,641.92,4257.26,823.0,2.00308e+07,6.0,...,2,201.0,1,32,171,19004,147,2,NaN,test

# PreProcessing

## One Hot Encoding) fr_yn 화재발생여부
- Y: 1
- N: 0

In [10]:
df['fr_yn'].unique()

array(['N', 'Y', nan], dtype=object)

In [11]:
df['fire_yes'] = (df['fr_yn'] == 'Y')

df[['fr_yn', 'fire_yes']].sample()

     fr_yn  fire_yes
1376     N     False

## One Hot Encoding) mlt_us_yn 다중이용시설 포함여부

In [12]:
df['mlt_us_yn'].unique()

array(['N', 'Y'], dtype=object)

In [13]:
df['mlt_us_yn(encode)'] = df['mlt_us_yn'] == 'Y'

df[['mlt_us_yn', 'mlt_us_yn(encode)']].sample()

      mlt_us_yn  mlt_us_yn(encode)
55533         N              False

In [14]:
data_fire = pd.DataFrame(df.groupby('mlt_us_yn(encode)')['fire_yes'].sum()).reset_index()
data_all = pd.DataFrame(df.groupby('mlt_us_yn(encode)')['id'].count()).reset_index()
data = data_fire.merge(data_all, on='mlt_us_yn(encode)')
data['ratio'] = data['fire_yes'] * 100 / data['id']
data

   mlt_us_yn(encode)  fire_yes     id      ratio
0              False    8818.0  68846  12.808297
1               True     111.0    208  53.365385

## datetime Parsing) dt_of_fr 화재발생시점/관찰시점

In [15]:
df['year'] = pd.to_datetime(df['dt_of_fr']).dt.year
df['month'] = pd.to_datetime(df['dt_of_fr']).dt.month
df['day'] = pd.to_datetime(df['dt_of_fr']).dt.day
df['hour'] = pd.to_datetime(df['dt_of_fr']).dt.hour
df['minute'] = pd.to_datetime(df['dt_of_fr']).dt.minute
df['second'] = pd.to_datetime(df['dt_of_fr']).dt.second
df['dayofweek'] = pd.to_datetime(df['dt_of_fr']).dt.day_name()

df['year-month'] = df['dt_of_fr'].apply(lambda x: x[:7])
df['year-month-day'] = df['dt_of_fr'].apply(lambda x: x[:10])

df[['dt_of_fr', 'year-month', 'year-month-day', 'year', 'month', 'day', 'dayofweek', 'hour', 'minute', 'second']].sample()

,dt_of_fr,year-month,year-month-day,year,month,day,dayofweek,hour,minute,second
5098,2016-02-08 10:02:00,2016-02,2016-02-08,2016,2,8,Monday,10,2,0

## Null 값 채우기) emd_nm 행정구역명
전체 데이터 중 행정구역명이 Null 값인 데이터는 4개 뿐이라 삭제

In [16]:
df = df.dropna(subset=['emd_nm'])

## 행정구역명 나눠서 컬럼'address1', 'address2'에 담기

In [17]:
df['address1'] = np.nan
df['address2'] = np.nan

df['address1'] = df['emd_nm'].apply(lambda x: str(x).split()[1][:3])
df['address2'] = df['emd_nm'].apply(lambda x: str(x).split()[2])
df['address'] = df['address1'] + ' ' + df['address2']
# 창원시는 따로
df.loc[df['address1'].apply(lambda x: len(x) > 3), 'address2'] = df['emd_nm'].apply(lambda x: str(x).split()[1][3:])

df[['emd_nm', 'address', 'address1', 'address2']].sample()

             emd_nm  address address1 address2
37642  경상남도 진주시 금곡면  진주시 금곡면      진주시      금곡면

## Null 값 채우기) hm_cnt 행정구역 인구

인구 Null 값인 행정구역을 찾아보니, 몇 개 행정구역에 몰려있음

In [18]:
df[df['hm_cnt'].isnull()]['address'].value_counts()

진주시 상대동      245
진주시 하대동      167
창원시 마산회원구     96
창원시 마산합포구     80
함안군 칠원읍       59
창원시 진해구        9
통영시 산양읍        6
통영시 욕지면        6
사천시 동금동        3
하동군 금남면        2
하동군 진교면        2
통영시 용남면        2
고성군 거류면        2
창녕군 대합면        2
거제시 거제면        2
고성군 회화면        1
남해군 고현면        1
남해군 이동면        1
거제시 장목면        1
거제시 아주동        1
통영시 미수동        1
창녕군 이방면        1
남해군 창선면        1
김해시 어방동        1
양산시 하북면        1
남해군 남해읍        1
진주시 상평동        1
거제시 둔덕면        1
통영시 도산면        1
사천시 실안동        1
Name: address, dtype: int64

### 행정구역별로 뜯어보기

#### 진주시 인구 Null 값
> 진주시청 제공, 12월말 기준

진주시 동 | 2014 | 2015 | 2016
-|-|-|-
진주시 상대동| 26_019 | 25_599 | 25_321
진주시 하대동| 27_457 | 26_981 | 27_067

In [19]:
df[df['address'] == '진주시 상대동'].groupby('year')['hm_cnt'].median()

year
2014        NaN
2015        NaN
2016        NaN
2017    22764.0
2018    22296.0
Name: hm_cnt, dtype: float64

In [20]:
df[df['address'] == '진주시 하대동'].groupby('year')['hm_cnt'].median()

year
2014        NaN
2015        NaN
2016        NaN
2017    28687.5
2018    28164.0
Name: hm_cnt, dtype: float64

#### 창원시는 null 값 뿐임. 인구 정보 따로 찾아보기
> 창원시청 제공, 12월말 기준

창원시 구 | 2014 | 2015 | 2016 | 2017 | 2018
-|-|-|-|-|-
창원시 마산합포구 | 184_179 | 183_829 | 183_989 | 181_917 | 182_772
창원시 마산회원구 | 216_749 | 214_264 | 213_163 | 203_926 | 201_565
창원시 진해구 | - | 189_463 | 190_780 | - |196_665

In [21]:
df[df['address'] == '창원시 마산회원구'].groupby('year')['hm_cnt'].median()

year
2014   NaN
2015   NaN
2016   NaN
Name: hm_cnt, dtype: float64

In [22]:
df[df['address'] == '창원시 마산합포구'].groupby('year')['hm_cnt'].median()

year
2014   NaN
2015   NaN
2016   NaN
2017   NaN
Name: hm_cnt, dtype: float64

In [23]:
df[df['address'] == '창원시 진해구'].groupby('year')['hm_cnt'].median()

year
2015   NaN
2016   NaN
2018   NaN
Name: hm_cnt, dtype: float64

#### 함안군 칠원읍

In [24]:
df[df['address'] == '함안군 칠원읍'].groupby('year')['hm_cnt'].median()

year
2014        NaN
2015    21131.0
2016    21022.0
2017    20889.5
2018    20672.0
Name: hm_cnt, dtype: float64

#### 사천시 동금동, 사천시 실안동 동단위 자료 없음
사천시 전체에서 적은 비중이라 삭제

In [25]:
df[df['address'] == '사천시 동금동'].groupby('year')['hm_cnt'].median()

year
2014   NaN
2017   NaN
Name: hm_cnt, dtype: float64

In [26]:
df[df['address'] == '사천시 실안동'].groupby('year')['hm_cnt'].median()

year
2017   NaN
Name: hm_cnt, dtype: float64

In [27]:
df[df['address1'] == '사천시']['address'].value_counts()

사천시 사천읍     380
사천시 사남면     278
사천시 용현면     270
사천시 동서동     266
사천시 서포면     262
사천시 곤양면     243
사천시 남양동     239
사천시 정동면     235
사천시 벌룡동     234
사천시 향촌동     209
사천시 곤명면     205
사천시 선구동     146
사천시 동서금동    138
사천시 축동면     127
사천시 동금동       3
사천시 실안동       1
Name: address, dtype: int64

In [28]:
# id 113578, 118226, 104635
# index 20446 20673 20680
df[df['address'] == '사천시 동금동'] 

# id 92201
# index 20676
# df[df['address'] == '사천시 실안동']

,id,dt_of_fr,bldng_us,bldng_archtctr,bldng_cnt,bldng_ar,ttl_ar,lnd_ar,dt_of_athrztn,ttl_grnd_flr,...,day,hour,minute,second,dayofweek,year-month,year-month-day,address1,address2,address
20446,113578,2017-06-26 20:12:00,제1종근린생활시설,철근콘크리트구조,1,225.21,203.73,675.0,2.00502e+07,1.0,...,26,20,12,0,Monday,2017-06,2017-06-26,사천시,동금동,사천시 동금동
20673,118226,2014-08-08 14:26:00,제1종근린생활시설,철근콘크리트구조,1,225.21,203.73,675.0,2.00502e+07,1.0,...,8,14,26,0,Friday,2014-08,2014-08-08,사천시,동금동,사천시 동금동
20680,104635,2014-05-22 21:38:00,제1종근린생활시설,철근콘크리트구조,1,225.21,203.73,675.0,2.00502e+07,1.0,...,22,21,38,0,Thursday,2014-05,2014-05-22,사천시,동금동,사천시 동금동

In [29]:
# 사천시 실안동, 동금동 row 삭제

df = df.drop([20446, 20673, 20680, 20676])

### 연도별 인구 중간값으로 채우기

In [30]:
df['hm_cnt'] = df.groupby(['year', 'address'])['hm_cnt'].transform(lambda x: x.fillna(x.median()))

In [31]:
# 남은 null 값 확인

df['hm_cnt'].isnull().sum()

650

In [32]:
df[df['hm_cnt'].isnull()].groupby(['address', 'year'])['hm_cnt'].size()

address    year
김해시 어방동    2015     1
진주시 상대동    2014    80
           2015    79
           2016    86
진주시 하대동    2014    45
           2015    63
           2016    52
창원시 마산합포구  2014    30
           2015    24
           2016    25
           2017     1
창원시 마산회원구  2014    34
           2015    23
           2016    39
창원시 진해구    2015     2
           2016     3
           2018     4
함안군 칠원읍    2014    59
Name: hm_cnt, dtype: int64

In [33]:
df[df['address'] == '함안군 칠원읍'].groupby('year')['hm_cnt'].median()

year
2014        NaN
2015    21131.0
2016    21022.0
2017    20889.5
2018    20672.0
Name: hm_cnt, dtype: float64

In [34]:
함안군_칠원읍_2014_hm_cnt = round(21131 + (21131 - 20672) / 4)  
함안군_칠원읍_2014_hm_cnt

21246

In [35]:
마산회원구 = {2014: 216_749, 2015: 214_264, 2016: 213_163, 2017: 203_926, 2018: 201_565}
마산합포구 = {2014: 184_179, 2015: 183_829, 2016: 183_989, 2017: 181_917, 2018: 182_772}
진해구 = {2014: np.nan, 2015: 189_463, 2016: 190_780, 2017: np.nan, 2018: 196_665}
상대동 = {2014: 26_019, 2015: 25_599, 2016: 25_321, 2017: np.nan, 2018: np.nan}
하대동 = {2014: 27_457, 2015: 26_981, 2016: 27_067, 2017: np.nan, 2018: np.nan}
칠원읍 = {2014: 함안군_칠원읍_2014_hm_cnt, 2015: np.nan, 2016: np.nan, 2017: np.nan, 2018: np.nan}

hm_cnt = pd.DataFrame(data=마산회원구.values(), index=마산회원구.keys(), columns=['마산회원구'])
hm_cnt['마산합포구'] = 마산합포구.values()
hm_cnt['진해구'] = 진해구.values()
hm_cnt['상대동'] = 상대동.values()
hm_cnt['하대동'] = 하대동.values()
hm_cnt['칠원읍'] = 칠원읍.values()

hm_cnt

       마산회원구   마산합포구       진해구      상대동      하대동      칠원읍
2014  216749  184179       NaN  26019.0  27457.0  21246.0
2015  214264  183829  189463.0  25599.0  26981.0      NaN
2016  213163  183989  190780.0  25321.0  27067.0      NaN
2017  203926  181917       NaN      NaN      NaN      NaN
2018  201565  182772  196665.0      NaN      NaN      NaN

In [36]:
# 수기로 입력해준 인구 데이터 바탕으로 Null 값 채우기
for place in hm_cnt.columns:
    for year in hm_cnt.index:
        df.loc[(df['hm_cnt'].isnull()) & (df['address2'] == place), 'hm_cnt'] = hm_cnt[place][year]

In [37]:
# Null 값 잘 채워졌는지 확인

df['hm_cnt'].isnull().sum()

1

채워지지 않은 Null 값 항목 찾는다

In [46]:
df[df['hm_cnt'].isnull()][['year', 'address', 'hm_cnt']]

      year  address  hm_cnt
6383  2015  김해시 어방동     NaN

In [47]:
df[df['address'] == '김해시 어방동']

,id,dt_of_fr,bldng_us,bldng_archtctr,bldng_cnt,bldng_ar,ttl_ar,lnd_ar,dt_of_athrztn,ttl_grnd_flr,...,day,hour,minute,second,dayofweek,year-month,year-month-day,address1,address2,address
6383,109435,2015-01-21 01:46:01,공장,블록구조,5,983.92,983.92,661.0,1.98202e+07,2.0,...,21,1,46,1,Wednesday,2015-01,2015-01-21,김해시,어방동,김해시 어방동

김해시 어방동은 데이터가 1개 뿐

김해시 어방동을 지도에서 찾아보니 부원동, 불암동, 동상동 근처로 나와서 
- 이 세개 동의 평균값으로 채워줌

In [43]:
df[df['address1'] == '김해시'].groupby(['year', 'address2'])['hm_cnt'].median()

year  address2
2014  내외동         85233.0
      대동면          7486.0
      동상동         10170.0
      부원동          8222.0
      북부동         84915.0
      불암동          8849.0
      삼안동         41851.0
      상동면          3559.0
      생림면          4352.0
      장유1동        55185.0
      장유2동        34921.0
      장유3동        53968.0
      주촌면          3498.0
      진례면          7847.0
      진영읍         41909.0
      칠산서부동       10072.0
      한림면          9281.0
      활천동         46217.0
      회현동          8713.0
2015  내외동         84447.0
      대동면          7342.0
      동상동         10212.0
      부원동         10392.0
      북부동         85368.0
      불암동          8683.0
      삼안동         40559.0
      상동면          3573.0
      생림면          4295.0
      어방동             NaN
      장유1동        54744.0
                   ...
2017  생림면          4168.0
      장유1동        56974.0
      장유2동        35071.0
      장유3동        56135.0
      주촌면          3266.0
      진례면          7591.0
      진영읍         50835.0
      칠산서부동       10208.0
      한림면          8686.0
      활천동         45175.0
      회현동          9468.0
2018  내외동         78872.0
      대동면          6846.0
      동상동         10654.0
      부원동          9853.0
      북부동         83288.0
      불암동          8349.0
      삼안동         37701.0
      상동면          3437.0
      생림면          4031.0
      장유1동        56889.0
      장유2동        36327.0
      장유3동        56949.0
      주촌면          4688.0
      진례면          7330.0
      진영읍         53161.0
      칠산서부동       10097.0
      한림면          8437.0
      활천동         44493.0
      회현동         10405.0
Name: hm_cnt, Length: 96, dtype: float64

In [49]:
df.loc[df['address2'] == '어방동', 'hm_cnt'] = np.mean([10212.0, 10392.0, 8683.0])

In [50]:
# Null 값 채워졌는지 확인
df['hm_cnt'].isnull().sum()

0

## Null 값 채우기) fr_mn_cnt 관할소방서 인원

In [51]:
df['fr_mn_cnt'] = df.groupby(['year', 'address'])['fr_mn_cnt'].transform(lambda x: x.fillna(x.median()))

In [52]:
# 소방서 인원 Null 값 채워졌는지 확인

df['fr_mn_cnt'].isnull().sum()

1

남은 Null 값 확인

In [53]:
df[df['fr_mn_cnt'].isnull()]

,id,dt_of_fr,bldng_us,bldng_archtctr,bldng_cnt,bldng_ar,ttl_ar,lnd_ar,dt_of_athrztn,ttl_grnd_flr,...,day,hour,minute,second,dayofweek,year-month,year-month-day,address1,address2,address
6383,109435,2015-01-21 01:46:01,공장,블록구조,5,983.92,983.92,661.0,1.98202e+07,2.0,...,21,1,46,1,Wednesday,2015-01,2015-01-21,김해시,어방동,김해시 어방동

In [57]:
df[df['address1'] == '김해시'].groupby(['year', 'address2'])['fr_mn_cnt'].median()

year  address2
2014  내외동         201.0
      대동면         201.0
      동상동         201.0
      부원동         201.0
      북부동         201.0
      불암동         201.0
      삼안동         201.0
      상동면         201.0
      생림면         201.0
      장유1동        178.0
      장유2동        178.0
      장유3동        178.0
      주촌면         178.0
      진례면         178.0
      진영읍         178.0
      칠산서부동       201.0
      한림면         178.0
      활천동         201.0
      회현동         201.0
2015  내외동         201.0
      대동면         201.0
      동상동         201.0
      부원동         201.0
      북부동         201.0
      불암동         201.0
      삼안동         201.0
      상동면         201.0
      생림면         201.0
      어방동           NaN
      장유1동        178.0
                  ...
2017  생림면         201.0
      장유1동        178.0
      장유2동        178.0
      장유3동        178.0
      주촌면         178.0
      진례면         178.0
      진영읍         178.0
      칠산서부동       201.0
      한림면         178.0
      활천동         201.0
      회현동         201.0
2018  내외동         201.0
      대동면         201.0
      동상동         201.0
      부원동         201.0
      북부동         201.0
      불암동         201.0
      삼안동         201.0
      상동면         201.0
      생림면         201.0
      장유1동        178.0
      장유2동        178.0
      장유3동        178.0
      주촌면         178.0
      진례면         178.0
      진영읍         178.0
      칠산서부동       201.0
      한림면         178.0
      활천동         201.0
      회현동         201.0
Name: fr_mn_cnt, Length: 96, dtype: float64

김해시 전체가 두 군데로 나뉘어 있음을 볼 수 있음

김해시 어방동은 동상동 부원동 불암동 사이에 있으므로 세 개 동과 같은 201로 채워준다

In [58]:
df.loc[df['address2'] == '어방동', 'fr_mn_cnt'] = 201

df['fr_mn_cnt'].isnull().sum()

0

## Null 값 채우기) wnd_spd 풍속

In [59]:
df['wnd_spd'] = df.groupby(['address', 'year-month-day'])['wnd_spd'].transform(lambda x: x.fillna(x.median()))
df['wnd_spd'].isnull().sum()

35

In [60]:
df['wnd_spd'] = df.groupby(['address', 'year-month'])['wnd_spd'].transform(lambda x: x.fillna(x.median()))
df['wnd_spd'].isnull().sum()

0

## Null 값 채우기) wnd_drctn 풍향
1. 해당 지역, 해당일의 풍향 중간값으로 채우기
2. 1에서 안 채워진 경우, 해당 지역, 해당월의 풍향 중간값으로 채우기
3. 2에서 안 채워진 경우, 해당일의 풍향 중간값으로 채우기

In [61]:
df['wnd_drctn'] = df.groupby(['address', 'year-month-day'])['wnd_drctn'].transform(lambda x: x.fillna(x.median()))
df['wnd_drctn'].isnull().sum()

201

In [62]:
df['wnd_drctn'] = df.groupby(['address', 'year-month'])['wnd_drctn'].transform(lambda x: x.fillna(x.median()))
df['wnd_drctn'].isnull().sum()

10

In [63]:
df['wnd_drctn'] = df.groupby(['year-month-day'])['wnd_drctn'].transform(lambda x: x.fillna(x.median()))
df['wnd_drctn'].isnull().sum()

0

## Null 값 채우기) hmdt 습도
corr 으로 습도와 상관계수 높은 컬럼 찾기

In [64]:
corr = train.corr()

In [65]:
corr.loc[corr['hmdt']<-0.2, 'hmdt']

wnd_spd     -0.402712
wnd_drctn   -0.253173
Name: hmdt, dtype: float64

1. 같은 풍속, 풍향인 날의 습도 중간값으로 채우기
2. 1에서 안 채워진 경우, 풍향이 같은 날의 습도 중간값으로 채우기 
3. 2에서 안 채워진 경우, 해당일의 습도 중간값으로 채우기

In [66]:
df['hmdt'].shape

(69046,)

In [67]:
df.shape

(69046, 48)

In [68]:
df['hmdt'] = df.groupby(['wnd_spd', 'wnd_drctn'])['hmdt'].transform(lambda x: x.fillna(x.median()))
df['hmdt'].isnull().sum()

8

In [69]:
df['hmdt'] = df.groupby(['year-month-day'])['hmdt'].transform(lambda x: x.fillna(x.median()))
df['hmdt'].isnull().sum()

0

## Null 값 채우기) tmprtr 온도
corr 으로 온도와 상관계수가 높은 컬럼 찾기

In [70]:
corr.loc[corr['tmprtr'] > 0.1, 'tmprtr']

tmprtr         1.000000
wnd_spd        0.106366
hmdt           0.125568
lw_13101110    0.145238
lw_13101210    0.118775
lw_13101211    0.136644
lw_13111010    0.116014
Name: tmprtr, dtype: float64

1. 풍속과 습도가 같은 날의 온도 중간값으로 채우기
2. 습도가 같은 해당일의 온도 중간값으로 채우기
3. 풍속이 같은 해당일의 온도 중간값으로 채우기
4. 습도가 같은 해당월의 온도 중간값으로 채우기

In [71]:
df.dtypes

id                        int64
dt_of_fr                 object
bldng_us                 object
bldng_archtctr           object
bldng_cnt                 int64
bldng_ar                float64
ttl_ar                  float64
lnd_ar                  float64
dt_of_athrztn            object
ttl_grnd_flr            float64
ttl_dwn_flr             float64
bldng_us_clssfctn        object
tmprtr                  float64
prcpttn                 float64
wnd_spd                 float64
wnd_drctn               float64
hmdt                    float64
jmk                      object
emd_nm                   object
hm_cnt                  float64
fr_sttn_dstnc             int64
fr_wthr_fclt_dstnc        int64
mlt_us_yn                object
cctv_dstnc                int64
cctv_in_100m              int64
fr_mn_cnt               float64
fr_wthr_fclt_in_100m      int64
tbc_rtl_str_dstnc         int64
sft_emrgnc_bll_dstnc      int64
ahsm_dstnc                int64
no_tbc_zn_dstnc           int64
bldng_cnt_in_50m          int64
fr_yn                    object
tag                      object
fire_yes                   bool
mlt_us_yn(encode)          bool
year                      int64
month                     int64
day                       int64
hour                      int64
minute                    int64
second                    int64
dayofweek                object
year-month               object
year-month-day           object
address1                 object
address2                 object
address                  object
dtype: object

In [72]:
# wnd_spd 와 hmdt 가 float 라서 같은 값인데 다른 값으로 처리되는 것들이 있음
# 해결하기 위해 int 로 바꾼다

df['wnd_spd(int)'] = df['wnd_spd'].apply(lambda x: int(x))
df['hmdt(int)'] = df['hmdt'].apply(lambda x: int(x))

In [73]:
df['tmprtr'] = df.groupby(['wnd_spd(int)', 'hmdt(int)'])['tmprtr'].transform(lambda x: x.fillna(x.median()))
df['tmprtr'].isnull().sum()

0

# 전처리 완료한 데이터셋 csv 로 저장

In [74]:
# 필요한 컬럼만 불러오기
columns = ['id', 'tag'
           # 날짜
           , 'year', 'month', 'day', 'dayofweek', 'year-month', 'year-month-day', 'hour', 'minute', 'second'
          # 건물 용도
           , 'jmk'
          # 건물 용도 (전처리 안됨)
#            , 'bldng_us', 'bldng_archtctr', 'bldng_us_clssfctn', 'dt_of_athrzt'
          # 건물 정보 (전처리 안됨)
#            , 'bldng_ar', 'ttl_ar', 'lnd_ar', 'ttl_grnd_flr', 'ttl_dwn_flr'
           # 다중이용업소
           , 'mlt_us_yn(encode)'
          # 날씨 정보
           , 'tmprtr', 'wnd_spd', 'wnd_drctn', 'hmdt'
          # 행정구역 정보
           , 'address', 'address1', 'address2', 'hm_cnt'
          # 도심과 가까운 정도
           , 'fr_sttn_dstnc', 'fr_wthr_fclt_dstnc', 'cctv_dstnc', 'cctv_in_100m', 'fr_mn_cnt'
           , 'fr_wthr_fclt_in_100m', 'tbc_rtl_str_dstnc', 'sft_emrgnc_bll_dstnc', 'ahsm_dstnc'
           , 'no_tbc_zn_dstnc', 'bldng_cnt_in_50m'
          # 화재발생 여부
           , 'fire_yes'
          ]

df[columns]

,id,tag,year,month,day,dayofweek,year-month,year-month-day,hour,minute,...,cctv_dstnc,cctv_in_100m,fr_mn_cnt,fr_wthr_fclt_in_100m,tbc_rtl_str_dstnc,sft_emrgnc_bll_dstnc,ahsm_dstnc,no_tbc_zn_dstnc,bldng_cnt_in_50m,fire_yes
0,133759,train,2015,10,3,Saturday,2015-10,2015-10-03,2,33,...,129,0,161.0,0,809,2453,17664,83,0,False
1,96248,train,2016,11,13,Sunday,2016-11,2016-11-13,17,5,...,27,5,161.0,1,1731,2561,18136,50,0,False
2,71317,train,2016,11,21,Monday,2016-11,2016-11-21,12,46,...,273,0,161.0,0,825,3964,14944,270,1,False
3,86638,train,2016,11,7,Monday,2016-11,2016-11-07,2,50,...,109,0,161.0,0,1264,2572,15104,132,0,False
4,97748,train,2014,1,28,Tuesday,2014-01,2014-01-28,16,36,...,739,0,109.0,0,10241,100127,5000,5004,0,False
5,124960,train,2016,11,3,Thursday,2016-11,2016-11-03,9,25,...,180,0,161.0,0,1306,2145,18462,151,0,True
6,117245,train,2016,11,26,Saturday,2016-11,2016-11-26,16,47,...,102,0,161.0,1,211,2643,17388,78,1,True
7,128704,train,2014,1,12,Sunday,2014-01,2014-01-12,15,36,...,71,2,161.0,0,1172,1458,19649,78,0,True
8,69465,train,2014,1,24,Friday,2014-01,2014-01-24,18,5,...,177,0,161.0,0,1888,2758,17916,105,0,True
9,85144,train,2014,1,18,Saturday,2014-01,2014-01-18,11,0,...,222,0,161.0,0,58,3830,14479,103,6,False
10,131014,train,2014,1,14,Tuesday,2014-01,2014-01-14,10,51,...,248,0,161.0,0,737,3998,14792,417,0,True
11,131084,train,2016,5,19,Thursday,2016-05,2016-05-19,10,49,...,180,0,161.0,0,1955,2767,14997,287,0,False
12,105894,train,2015,2,9,Monday,2015-02,2015-02-09,3,36,...,373,0,161.0,0,1692,3554,15757,274,0,False
13,122039,train,2015,2,21,Saturday,2015-02,2015-02-21,5,0,...,710,0,161.0,0,46,3678,17333,183,1,False
14,93985,train,2018,2,6,Tuesday,2018-02,2018-02-06,10,34,...,257,0,161.0,0,999,1355,19979,368,0,False
15,72445,train,2018,2,11,Sunday,2018-02,2018-02-11,23,48,...,291,0,161.0,0,1699,3469,15693,236,12,False
16,99350,train,2018,2,24,Saturday,2018-02,2018-02-24,7,25,...,881,0,161.0,0,2120,1979,15692,201,0,False
17,102168,train,2018,2,12,Monday,2018-02,2018-02-12,1,25,...,20,3,161.0,0,1148,2843,15332,24,0,False
18,109956,train,2018,2,18,Sunday,2018-02,2018-02-18,16,19,...,1134,0,161.0,0,827,4024,18110,42,0,True
19,89995,train,2016,7,19,Tuesday,2016-07,2016-07-19,12,17,...,158,0,161.0,0,683,2520,19651,202,0,False
20,87580,train,2016,7,31,Sunday,2016-07,2016-07-31,13,1,...,304,0,161.0,0,1679,3414,18016,99,0,False
21,93856,train,2016,7,4,Monday,2016-07,2016-07-04,5,40,...,708,0,161.0,1,1937,3747,17176,153,0,False
22,97379,train,2016,7,31,Sunday,2016-07,2016-07-31,22,38,...,137,0,161.0,0,1794,3062,15342,186,0,False
23,105441,train,2016,7,10,Sunday,2016-07,2016-07-10,13,17,...,642,0,161.0,0,970,3602,16361,298,0,False
24,106996,train,2016,7,26,Tuesday,2016-07,2016-07-26,22,13,...,1010,0,161.0,0,1951,1719,15684,40,0,False
25,108659,train,2016,7,25,Monday,2016-07,2016-07-25,14,18,...,724,0,161.0,1,24,3697,17310,211,0,False
26,126168,train,2016,7,7,Thursday,2016-07,2016-07-07,6,29,...,170,0,161.0,0,1322,2912,15625,150,0,False
27,105297,train,2018,4,12,Thursday,2018-04,2018-04-12,17,15,...,462,0,161.0,0,310,2298,19998,53,0,False
28,110495,train,2018,4,12,Thursday,2018-04,2018-04-12,15,41,...,155,0,161.0,0,1766,3073,15303,170,0,False
29,110806,train,2018,4,29,Sunday,2018-04,2018-04-29,21,43,...,265,0,161.0,0,39,3785,14574,8,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6868,79091,valid,2016,8,20,Saturday,2016-08,2016-08-20,20,12,...,798,0,178.0,0,2460,4482,9160,2271,13,False
6869,88579,valid,2018,12,29,Saturday,2018-12,2018-12-29,6,29,...,85,0,201.0,0,69,189,21892,153,21,False
6870,110523,valid,2018,8,21,Tuesday,2018-08,2018-08-21,9,23,...,151,0,178.0,0,747,1361,4716,320,1,False
6871,112211,valid,2015,8,7,Friday,2015-08,2015-08-07,10,26,...,371,0,201.0,0,351,767,20359,584,0,False
6872,78230,valid,2014,1,11,Saturday,2014-01,2014-01-11,13,7,...,148,0,178.0,0,323,330,5028,249,0,False
6873,83989,valid,2018,12,25,Tuesday,2018-12,2018-12-25,2,14,...,116,0,201.0,0,98,260,20786,288,6,False
6874,93411,valid,2016,7,1,Friday,2016-07,2016-07-01,11,43,...,149,0,201.0,0,230,183,20711,510,2,False
6875,135190,valid,2015,7,9,Thursday,2015-07,2015-07-09,11,21,...,94,0,201.0,0,799,2602,20780,1359,2,False
6876,134164,valid,2018,11,12,Monday,2018-11,2018-11-12,14,3,...,40,1,201.0,1,166,156,18664,166,1,False
6877,77758,valid,2015,6,21,Sunday,2015-06,2015-06-21,5,17,...,220,0,178.0,1,120,111,10824,226,0,False
6878,120436,valid,2018,3,15,Thursday,2018-03,2018-03-15,14,15,...,1130,0,178.0,0,1610,1403,3698,1209,0,False
6879,92025,valid,2018,8,25,Saturday,2018-08,2018-08-25,6,23,...,836,0,201.0,0,1065,5922,22049,2566,0,False
6880,105771,valid,2016,8,28,Sunday,2016-08,2016-08-28,18,0,...,71,1,178.0,0,463,925,10429,520,7,False
6881,80000,valid,2016,5,5,Thursday,2016-05,2016-05-05,12,39,...,18,2,201.0,0,252,473,19168,118,5,False
6882,90979,valid,2017,6,4,Sunday,2017-06,2017-06-04,0,22,...,572,0,201.0,0,4319,7953,29309,619,0,False
6883,131548,valid,2018,6,28,Thursday,2018-06,2018-06-28,20,52,...,360,0,201.0,1,3618,7600,26768,2074,0,False
6884,123564,valid,2015,12,12,Saturday,2015-12,2015-12-12,2,36,...,65,2,201.0,0,743,777,15383,95,6,False
6885,123021,valid,2014,3,31,Monday,2014-03,2014-03-31,17,43,...,80,1,201.0,0,203,144,22034,155,0,True
6886,129619,valid,2018,5,19,Saturday,2018-05,2018-05-19,16,36,...,559,0,178.0,0,721,3561,13470,747,1,False
6887,128843,valid,2015,9,11,Friday,2015-09,2015-09-11,17,52,...,96,0,201.0,0,91,192,18783,151,13,False
6888,108740,valid,2017,4,17,Monday,2017-04,2017-04-17,20,31,...,165,0,201.0,0,882,2542,20664,1334,1,False
6889,84883,valid,2014,12,22,Monday,2014-12,2014-12-22,12,17,...,72,1,178.0,1,299,784,4455,165,7,False
6890,91178,valid,2016,10,26,Wednesday,2016-10,2016-10-26,22,12,...,55,1,201.0,0,271,67,17894,149,7,False
6891,108308,valid,2015,5,15,Friday,2015-05,2015-05-15,18,0,...,52,1,201.0,0,154,138,21852,140,8,False
6892,100682,valid,2016,2,6,Saturday,2016-02,2016-02-06,5,22,...,969,0,178.0,0,1408,1526,11610,42,3,False
6893,94186,valid,2014,4,17,Thursday,2014-04,2014-04-17,5,59,...,200,0,201.0,0,927,731,20903,611,2,False
6894,77059,valid,2016,9,4,Sunday,2016-09,2016-09-04,16,47,...,82,1,178.0,1,65,881,11784,280,0,False
6895,129300,valid,2016,8,17,Wednesday,2016-08,2016-08-17,11,16,...,68,2,178.0,0,976,515,9567,813,1,True
6896,126798,valid,2017,8,6,Sunday,2017-08,2017-08-06,23,37,...,310,0,178.0,1,1958,973,11842,1098,3,False
6897,75341,valid,2015,9,29,Tuesday,2015-09,2015-09-29,16,41,...,25,1,201.0,0,111,118,17552,204,1,True

In [75]:
train = df[df[columns]['tag'] == 'train']
test = df[df[columns]['tag'] == 'test']
valid = df[df[columns]['tag'] == 'valid']

print(train.shape)
print(test.shape)
print(valid.shape)

(59191, 50)
(2957, 50)
(6898, 50)

In [76]:
train.to_csv('../Data/train_preprocess.csv', index=False)
test.to_csv('../Data/test_preprocess.csv', index=False)
valid.to_csv('../Data/valid_preprocess.csv', index=False)

In [83]:
# 잘 저장됐는지 확인
# pd.read_csv('../Data/train_preprocess.csv')
# pd.read_csv('../Data/test_preprocess.csv')
# pd.read_csv('../Data/valid_preprocess.csv')