In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
train = pd.read_csv('PJT002_train.csv')
test = pd.read_csv('PJT002_test.csv')
valid = pd.read_csv('PJT002_validation.csv')

print('train', train.shape)
print('test', test.shape)
print('valid', valid.shape)

train.sample()

train (59199, 173)
test (2957, 172)
valid (6898, 173)

,dt_of_fr,fr_yn,bldng_us,bldng_archtctr,bldng_cnt,bldng_ar,ttl_ar,lnd_ar,dt_of_athrztn,ttl_grnd_flr,...,mlt_us_yn,cctv_dstnc,cctv_rsn,fr_wthr_fclt_in_100m,cctv_in_100m,tbc_rtl_str_dstnc,sft_emrgnc_bll_dstnc,ahsm_dstnc,no_tbc_zn_dstnc,bldng_cnt_in_50m
30855,2017-01-30 23:38:53,N,NaN,NaN,1,0.0,0.0,0.0,NaN,NaN,...,N,3499,NaN,0,0,1222,58402,1049,967,7

In [4]:
# train-test-valid 데이터셋 모두 합쳐서 전처리
train['tag'] = 'train'
test['tag'] = 'test'
valid['tag'] = 'valid'

df = pd.concat([train, test, valid])
df.sample()

,ahsm_dstnc,bldng_ar,bldng_ar_prc,bldng_archtctr,bldng_cnt,bldng_cnt_in_50m,bldng_us,bldng_us_clssfctn,cctv_dstnc,cctv_in_100m,...,rgnl_ar_nm2,sft_emrgnc_bll_dstnc,tag,tbc_rtl_str_dstnc,tmprtr,ttl_ar,ttl_dwn_flr,ttl_grnd_flr,wnd_drctn,wnd_spd
55741,47,83.16,670996.0,벽돌구조,4,1,단독주택,주거용,445,0,...,지정되지않음,80146,train,1708,25.3,83.16,0.0,1.0,250.0,3.3

## Null 값 확인

In [5]:
df.isnull().sum().reset_index().sort_values(by = 0, ascending = False).values

array([['cctv_rsn', 69054],
       ['lw_13121010', 68640],
       ['lw_13121011', 68640],
       ['lw_13111110', 68632],
       ['lw_13101410', 68630],
       ['lw_13101110', 68622],
       ['lw_13141011', 68622],
       ['lw_13101310', 68621],
       ['lw_13141010', 68621],
       ['lw_13131010', 68617],
       ['lw_13131110', 68617],
       ['lw_13101210', 68616],
       ['lw_13101211', 68615],
       ['lw_13111010', 68613],
       ['lw_13101010', 68611],
       ['prcpttn', 62721],
       ['bldng_us_clssfctn', 31642],
       ['bldng_us', 29259],
       ['bldng_archtctr', 29224],
       ['ele_engry_us_201404', 29132],
       ['gas_engry_us_201601', 29132],
       ['gas_engry_us_201508', 29132],
       ['gas_engry_us_201509', 29132],
       ['gas_engry_us_201510', 29132],
       ['gas_engry_us_201511', 29132],
       ['gas_engry_us_201512', 29132],
       ['gas_engry_us_201603', 29132],
       ['gas_engry_us_201602', 29132],
       ['gas_engry_us_201506', 29132],
       ['gas_engry_us_201604', 29132],
       ['gas_engry_us_201605', 29132],
       ['gas_engry_us_201606', 29132],
       ['gas_engry_us_201607', 29132],
       ['gas_engry_us_201507', 29132],
       ['gas_engry_us_201504', 29132],
       ['gas_engry_us_201505', 29132],
       ['gas_engry_us_201609', 29132],
       ['gas_engry_us_201503', 29132],
       ['gas_engry_us_201502', 29132],
       ['gas_engry_us_201501', 29132],
       ['gas_engry_us_201412', 29132],
       ['gas_engry_us_201411', 29132],
       ['gas_engry_us_201410', 29132],
       ['gas_engry_us_201408', 29132],
       ['gas_engry_us_201407', 29132],
       ['gas_engry_us_201406', 29132],
       ['ele_engry_us_201405', 29132],
       ['gas_engry_us_201404', 29132],
       ['gas_engry_us_201608', 29132],
       ['gas_engry_us_201611', 29132],
       ['gas_engry_us_201610', 29132],
       ['gas_engry_us_201801', 29132],
       ['dt_of_athrztn', 29132],
       ['gas_engry_us_201812', 29132],
       ['gas_engry_us_201811', 29132],
       ['gas_engry_us_201810', 29132],
       ['gas_engry_us_201809', 29132],
       ['gas_engry_us_201808', 29132],
       ['gas_engry_us_201807', 29132],
       ['gas_engry_us_201806', 29132],
       ['gas_engry_us_201805', 29132],
       ['gas_engry_us_201804', 29132],
       ['gas_engry_us_201803', 29132],
       ['gas_engry_us_201802', 29132],
       ['gas_engry_us_201712', 29132],
       ['gas_engry_us_201402', 29132],
       ['gas_engry_us_201711', 29132],
       ['gas_engry_us_201710', 29132],
       ['gas_engry_us_201709', 29132],
       ['gas_engry_us_201708', 29132],
       ['gas_engry_us_201707', 29132],
       ['gas_engry_us_201706', 29132],
       ['gas_engry_us_201705', 29132],
       ['gas_engry_us_201704', 29132],
       ['gas_engry_us_201703', 29132],
       ['gas_engry_us_201702', 29132],
       ['gas_engry_us_201701', 29132],
       ['gas_engry_us_201612', 29132],
       ['gas_engry_us_201403', 29132],
       ['gas_engry_us_201405', 29132],
       ['gas_engry_us_201401', 29132],
       ['ele_engry_us_201508', 29132],
       ['ele_engry_us_201610', 29132],
       ['ele_engry_us_201608', 29132],
       ['ele_engry_us_201607', 29132],
       ['ele_engry_us_201606', 29132],
       ['ele_engry_us_201605', 29132],
       ['ele_engry_us_201604', 29132],
       ['ele_engry_us_201603', 29132],
       ['ele_engry_us_201602', 29132],
       ['ele_engry_us_201601', 29132],
       ['ele_engry_us_201512', 29132],
       ['ele_engry_us_201511', 29132],
       ['ele_engry_us_201510', 29132],
       ['ele_engry_us_201509', 29132],
       ['ele_engry_us_201507', 29132],
       ['ele_engry_us_201612', 29132],
       ['ele_engry_us_201506', 29132],
       ['ele_engry_us_201505', 29132],
       ['ele_engry_us_201504', 29132],
       ['ele_engry_us_201503', 29132],
       ['ele_engry_us_201502', 29132],
       ['ele_engry_us_201501', 29132],
       ['ele_engry_us_201412', 29132],
       ['ele_engry_us_201411', 29132],
       ['ele_engry_us_201410', 29132],
       ['ele_engry_us_201409', 29132],
       ['ele_engry_us_201408', 29132],
       ['ele_engry_us_201407', 29132],
       ['ele_engry_us_201406', 29132],
       ['ele_engry_us_201611', 29132],
       ['ele_engry_us_201609', 29132],
       ['ele_engry_us_201701', 29132],
       ['ele_engry_us_201803', 29132],
       ['ele_engry_us_201401', 29132],
       ['ele_engry_us_201402', 29132],
       ['ele_engry_us_201403', 29132],
       ['ele_engry_us_201812', 29132],
       ['ele_engry_us_201811', 29132],
       ['ele_engry_us_201810', 29132],
       ['ele_engry_us_201809', 29132],
       ['ele_engry_us_201808', 29132],
       ['ele_engry_us_201702', 29132],
       ['ele_engry_us_201806', 29132],
       ['ele_engry_us_201805', 29132],
       ['ele_engry_us_201804', 29132],
       ['ele_engry_us_201807', 29132],
       ['ele_engry_us_201802', 29132],
       ['ele_engry_us_201707', 29132],
       ['ele_engry_us_201703', 29132],
       ['ele_engry_us_201704', 29132],
       ['ele_engry_us_201801', 29132],
       ['ele_engry_us_201705', 29132],
       ['ele_engry_us_201706', 29132],
       ['gas_engry_us_201409', 29132],
       ['ele_engry_us_201708', 29132],
       ['ele_engry_us_201709', 29132],
       ['ele_engry_us_201710', 29132],
       ['ele_engry_us_201711', 29132],
       ['ele_engry_us_201712', 29132],
       ['bldng_ar_prc', 26325],
       ['ttl_dwn_flr', 12329],
       ['ttl_grnd_flr', 11348],
       ['fr_yn', 2957],
       ['lnd_us_sttn_nm', 2012],
       ['rgnl_ar_nm', 1623],
       ['rd_sd_nm', 1623],
       ['rgnl_ar_nm2', 1623],
       ['hm_cnt', 702],
       ['wnd_drctn', 237],
       ['fr_mn_cnt', 42],
       ['wnd_spd', 38],
       ['hmdt', 27],
       ['tmprtr', 15],
       ['emd_nm', 4],
       ['lnd_ar', 0],
       ['cctv_in_100m', 0],
       ['bldng_cnt', 0],
       ['bldng_cnt_in_50m', 0],
       ['cctv_dstnc', 0],
       ['ttl_ar', 0],
       ['tbc_rtl_str_dstnc', 0],
       ['tag', 0],
       ['sft_emrgnc_bll_dstnc', 0],
       ['dt_of_fr', 0],
       ['jmk', 0],
       ['fr_sttn_dstnc', 0],
       ['no_tbc_zn_dstnc', 0],
       ['mlt_us_yn', 0],
       ['fr_wthr_fclt_dstnc', 0],
       ['fr_wthr_fclt_in_100m', 0],
       ['bldng_ar', 0],
       ['id', 0],
       ['ahsm_dstnc', 0]], dtype=object)

In [6]:
# 모든 행이 null값인 cctv_rsn열 제거
df = df.drop(columns='cctv_rsn')

- ['bldng_us_clssfctn', 29343]건물용도분류명(주거용)   
- ['bldng_us', 27677]건물용도(단독주택)  
- ['bldng_archtctr', 27665]건물구조(벽돌구조)  
- ['dt_of_athrztn', 27581]건물승인일자(19850417)  
- ['bldng_ar_prc', 21895]단위 면적당 건물 가격_2019년 기준(312411)  
- ['ttl_dwn_flr', 11005]건물들의 지하 층수의 합(0)  
- ['ttl_grnd_flr', 10210]건물들의 지상 층수의 합(4)  
- ['lnd_us_sttn_nm', 1776]토지 이용상황명(전)
- ['rd_sd_nm', 1491]도로측면명(맹지)  
- ['rgnl_ar_nm2', 1491]용도지역지구명2(지정되지 않음)  
- ['rgnl_ar_nm', 1491]용도지역지구명(개발제한구역)  
- ['hm_cnt', 701]행정구역 인구(27312)  
- ['wnd_drctn', 221]풍향(270)
- ['fr_mn_cnt', 41]관할 소방서 인원(224)  
- ['wnd_spd', 33]풍속(2.2)
- ['hmdt', 22]습도(77)
- ['tmprtr', 13]온도_c(4.4)  
- ['emd_nm', 4]행정구역명(경상남도 진주시 판문동)  
__________________________________________________
- ['bldng_cnt_in_50m', 0]반경 50M 이내의 건물 수(23)  
- ['no_tbc_zn_dstnc', 0]금연구역과의 최소 거리(235)  
- ['fr_wthr_fclt_in_100m', 0]반경 100M 이내 소방용수 시설 수(2)  
- ['ahsm_dstnc', 0]자동 심장 충격기와의 최소 거리(234)  
- ['sft_emrgnc_bll_dstnc', 0]안전 비상벨과의 최소 거리(233)  
- ['tbc_rtl_str_dstnc', 0]담배 소매점과의 최소 거리(232)  
- ['cctv_in_100m', 0]반경 100M 이내 공공 CCTV(1)  
- ['mlt_us_yn', 0]다중이용시설 포함여부(Y)  
- ['cctv_dstnc', 0]공공 CCTV와의 최소 거리(232)  
- ['fr_wthr_fclt_dstnc', 0]소방용수시설(소화전 등)과의 최소 거리(223)  
- ['fr_sttn_dstnc', 0]119안전센터와의 거리(3222)  
- ['jmk', 0]지적상 지목(답)  
- ['dt_of_fr', 0]화재발생일시(2014-03-18 15:23:18)  
- ['lnd_ar', 0]토지면적(390)  
- ['ttl_ar', 0]건물연면적_건물층별합계전체면적(130.845)  
- ['bldng_ar', 0]건물건축면적(130.845)  
- ['bldng_cnt', 0]건물채수(4)

# PreProcessing

## One Hot Encoding) fr_yn 화재발생여부
- Y: 1
- N: 0

In [7]:
df['fr_yn'].unique()

array(['Y', 'N', nan], dtype=object)

In [8]:
df['fire_yes'] = (df['fr_yn'] == 'Y')

df[['fr_yn', 'fire_yes']].sample()

      fr_yn  fire_yes
32618     N     False

## One Hot Encoding) mlt_us_yn 다중이용시설 포함여부

In [9]:
df['mlt_us_yn'].unique()

array(['N', 'Y'], dtype=object)

In [10]:
df['mlt_us_yn(encode)'] = df['mlt_us_yn'] == 'Y'

df[['mlt_us_yn', 'mlt_us_yn(encode)']].sample()

     mlt_us_yn  mlt_us_yn(encode)
6206         N              False

In [11]:
data_fire = pd.DataFrame(df.groupby('mlt_us_yn(encode)')['fire_yes'].sum()).reset_index()
data_all = pd.DataFrame(df.groupby('mlt_us_yn(encode)')['id'].count()).reset_index()
data = data_fire.merge(data_all, on='mlt_us_yn(encode)')
data['ratio'] = data['fire_yes'] * 100 / data['id']
data

   mlt_us_yn(encode)  fire_yes     id      ratio
0              False    8816.0  68846  12.805392
1               True     113.0    208  54.326923

## datetime Parsing) dt_of_fr 화재발생시점/관찰시점

In [12]:
df['year'] = pd.to_datetime(df['dt_of_fr']).dt.year
df['month'] = pd.to_datetime(df['dt_of_fr']).dt.month
df['day'] = pd.to_datetime(df['dt_of_fr']).dt.day
df['hour'] = pd.to_datetime(df['dt_of_fr']).dt.hour
df['minute'] = pd.to_datetime(df['dt_of_fr']).dt.minute
df['second'] = pd.to_datetime(df['dt_of_fr']).dt.second
df['dayofweek'] = pd.to_datetime(df['dt_of_fr']).dt.day_name()

df['year-month'] = df['dt_of_fr'].apply(lambda x: x[:7])
df['year-month-day'] = df['dt_of_fr'].apply(lambda x: x[:10])

df[['dt_of_fr', 'year-month', 'year-month-day', 'year', 'month', 'day', 'dayofweek', 'hour', 'minute', 'second']].sample()

,dt_of_fr,year-month,year-month-day,year,month,day,dayofweek,hour,minute,second
32055,2016-10-05 10:35:32,2016-10,2016-10-05,2016,10,5,Wednesday,10,35,32

## Null 값 채우기) emd_nm 행정구역명
전체 데이터 중 행정구역명이 Null 값인 데이터는 4개 뿐이라 삭제

In [13]:
df = df.dropna(subset=['emd_nm'])

## 행정구역명 나눠서 컬럼'address1', 'address2'에 담기

In [14]:
df['address1'] = np.nan
df['address2'] = np.nan

df['address1'] = df['emd_nm'].apply(lambda x: str(x).split()[1][:3])
df['address2'] = df['emd_nm'].apply(lambda x: str(x).split()[2])
df['address'] = df['address1'] + ' ' + df['address2']
# 창원시는 따로
df.loc[df['address1'].apply(lambda x: len(x) > 3), 'address2'] = df['emd_nm'].apply(lambda x: str(x).split()[1][3:])

df[['emd_nm', 'address', 'address1', 'address2']].sample()

             emd_nm  address address1 address2
10991  경상남도 남해군 남해읍  남해군 남해읍      남해군      남해읍

## Null 값 채우기) hm_cnt 행정구역 인구

인구 Null 값인 행정구역을 찾아보니, 몇 개 행정구역에 몰려있음

In [15]:
df[df['hm_cnt'].isnull()]['address'].value_counts()

진주시 상대동      245
진주시 하대동      167
창원시 마산회원구     96
창원시 마산합포구     80
함안군 칠원읍       59
창원시 진해구        9
통영시 욕지면        6
통영시 산양읍        6
사천시 동금동        3
하동군 진교면        2
거제시 거제면        2
하동군 금남면        2
고성군 거류면        2
창녕군 대합면        2
통영시 용남면        2
거제시 장목면        1
고성군 회화면        1
양산시 하북면        1
통영시 도산면        1
남해군 남해읍        1
김해시 어방동        1
거제시 아주동        1
거제시 둔덕면        1
남해군 창선면        1
통영시 미수동        1
남해군 고현면        1
남해군 이동면        1
진주시 상평동        1
사천시 실안동        1
창녕군 이방면        1
Name: address, dtype: int64

### 행정구역별로 뜯어보기

#### 진주시 인구 Null 값
> 진주시청 제공, 12월말 기준

진주시 동 | 2014 | 2015 | 2016
-|-|-|-
진주시 상대동| 26_019 | 25_599 | 25_321
진주시 하대동| 27_457 | 26_981 | 27_067

In [16]:
df[df['address'] == '진주시 상대동'].groupby('year')['hm_cnt'].median()

year
2014        NaN
2015        NaN
2016        NaN
2017    22764.0
2018    22296.0
Name: hm_cnt, dtype: float64

In [17]:
df[df['address'] == '진주시 하대동'].groupby('year')['hm_cnt'].median()

year
2014        NaN
2015        NaN
2016        NaN
2017    28687.5
2018    28164.0
Name: hm_cnt, dtype: float64

#### 창원시는 null 값 뿐임. 인구 정보 따로 찾아보기
> 창원시청 제공, 12월말 기준

창원시 구 | 2014 | 2015 | 2016 | 2017 | 2018
-|-|-|-|-|-
창원시 마산합포구 | 184_179 | 183_829 | 183_989 | 181_917 | 182_772
창원시 마산회원구 | 216_749 | 214_264 | 213_163 | 203_926 | 201_565
창원시 진해구 | - | 189_463 | 190_780 | - |196_665

In [18]:
df[df['address'] == '창원시 마산회원구'].groupby('year')['hm_cnt'].median()

year
2014   NaN
2015   NaN
2016   NaN
Name: hm_cnt, dtype: float64

In [19]:
df[df['address'] == '창원시 마산합포구'].groupby('year')['hm_cnt'].median()

year
2014   NaN
2015   NaN
2016   NaN
2017   NaN
Name: hm_cnt, dtype: float64

In [20]:
df[df['address'] == '창원시 진해구'].groupby('year')['hm_cnt'].median()

year
2015   NaN
2016   NaN
2018   NaN
Name: hm_cnt, dtype: float64

#### 함안군 칠원읍

In [21]:
df[df['address'] == '함안군 칠원읍'].groupby('year')['hm_cnt'].median()

year
2014        NaN
2015    21131.0
2016    21022.0
2017    20889.5
2018    20672.0
Name: hm_cnt, dtype: float64

### 연도별 인구 중간값으로 채우기

In [22]:
df['hm_cnt'] = df.groupby(['year', 'address'])['hm_cnt'].transform(lambda x: x.fillna(x.median()))

In [23]:
# 남은 null 값 확인

df['hm_cnt'].isnull().sum()

654

In [24]:
df[df['hm_cnt'].isnull()].groupby(['address', 'year'])['hm_cnt'].size()

address    year
김해시 어방동    2015     1
사천시 동금동    2014     2
           2017     1
사천시 실안동    2017     1
진주시 상대동    2014    80
           2015    79
           2016    86
진주시 하대동    2014    45
           2015    63
           2016    52
창원시 마산합포구  2014    30
           2015    24
           2016    25
           2017     1
창원시 마산회원구  2014    34
           2015    23
           2016    39
창원시 진해구    2015     2
           2016     3
           2018     4
함안군 칠원읍    2014    59
Name: hm_cnt, dtype: int64

In [25]:
df[df['address'] == '함안군 칠원읍'].groupby('year')['hm_cnt'].median()

year
2014        NaN
2015    21131.0
2016    21022.0
2017    20889.5
2018    20672.0
Name: hm_cnt, dtype: float64

In [26]:
함안군_칠원읍_2014_hm_cnt = round(21131 + (21131 - 20672) / 4)  
함안군_칠원읍_2014_hm_cnt

21246

In [27]:
마산회원구 = {2014: 216_749, 2015: 214_264, 2016: 213_163, 2017: 203_926, 2018: 201_565}
마산합포구 = {2014: 184_179, 2015: 183_829, 2016: 183_989, 2017: 181_917, 2018: 182_772}
진해구 = {2014: np.nan, 2015: 189_463, 2016: 190_780, 2017: np.nan, 2018: 196_665}
상대동 = {2014: 26_019, 2015: 25_599, 2016: 25_321, 2017: np.nan, 2018: np.nan}
하대동 = {2014: 27_457, 2015: 26_981, 2016: 27_067, 2017: np.nan, 2018: np.nan}
칠원읍 = {2014: 함안군_칠원읍_2014_hm_cnt, 2015: np.nan, 2016: np.nan, 2017: np.nan, 2018: np.nan}

hm_cnt = pd.DataFrame(data=마산회원구.values(), index=마산회원구.keys(), columns=['마산회원구'])
hm_cnt['마산합포구'] = 마산합포구.values()
hm_cnt['진해구'] = 진해구.values()
hm_cnt['상대동'] = 상대동.values()
hm_cnt['하대동'] = 하대동.values()
hm_cnt['칠원읍'] = 칠원읍.values()

hm_cnt

       마산회원구   마산합포구       진해구      상대동      하대동      칠원읍
2014  216749  184179       NaN  26019.0  27457.0  21246.0
2015  214264  183829  189463.0  25599.0  26981.0      NaN
2016  213163  183989  190780.0  25321.0  27067.0      NaN
2017  203926  181917       NaN      NaN      NaN      NaN
2018  201565  182772  196665.0      NaN      NaN      NaN

In [28]:
# 수기로 입력해준 인구 데이터 바탕으로 Null 값 채우기
for place in hm_cnt.columns:
    for year in hm_cnt.index:
        df.loc[(df['hm_cnt'].isnull()) & (df['address2'] == place), 'hm_cnt'] = hm_cnt[place][year]

In [29]:
# Null 값 잘 채워졌는지 확인

df['hm_cnt'].isnull().sum()

5

채워지지 않은 Null 값 항목 찾는다

In [30]:
df[df['hm_cnt'].isnull()][['year', 'address', 'hm_cnt']]

       year  address  hm_cnt
1313   2017  사천시 실안동     NaN
53074  2017  사천시 동금동     NaN
53105  2014  사천시 동금동     NaN
53106  2014  사천시 동금동     NaN
4140   2015  김해시 어방동     NaN

In [31]:
df[df['address'] == '김해시 어방동']

,ahsm_dstnc,bldng_ar,bldng_ar_prc,bldng_archtctr,bldng_cnt,bldng_cnt_in_50m,bldng_us,bldng_us_clssfctn,cctv_dstnc,cctv_in_100m,...,day,hour,minute,second,dayofweek,year-month,year-month-day,address1,address2,address
4140,19224,983.92,NaN,블록구조,5,0,공장,공업용,205,0,...,21,1,46,1,Wednesday,2015-01,2015-01-21,김해시,어방동,김해시 어방동

김해시 어방동은 데이터가 1개 뿐

김해시 어방동을 지도에서 찾아보니 부원동, 불암동, 동상동 근처로 나와서 
- 이 세개 동의 평균값으로 채워줌

In [32]:
df[df['address1'] == '김해시'].groupby(['year', 'address2'])['hm_cnt'].median()

year  address2
2014  내외동         85233.0
      대동면          7486.0
      동상동         10170.0
      부원동          8222.0
      북부동         84915.0
      불암동          8849.0
      삼안동         41851.0
      상동면          3559.0
      생림면          4352.0
      장유1동        55185.0
      장유2동        34921.0
      장유3동        53968.0
      주촌면          3498.0
      진례면          7847.0
      진영읍         41909.0
      칠산서부동       10072.0
      한림면          9281.0
      활천동         46217.0
      회현동          8713.0
2015  내외동         84447.0
      대동면          7342.0
      동상동         10212.0
      부원동         10392.0
      북부동         85368.0
      불암동          8683.0
      삼안동         40559.0
      상동면          3573.0
      생림면          4295.0
      어방동             NaN
      장유1동        54744.0
                   ...
2017  생림면          4168.0
      장유1동        56974.0
      장유2동        35071.0
      장유3동        56135.0
      주촌면          3266.0
      진례면          7591.0
      진영읍         50835.0
      칠산서부동       10208.0
      한림면          8686.0
      활천동         45175.0
      회현동          9468.0
2018  내외동         78872.0
      대동면          6846.0
      동상동         10654.0
      부원동          9853.0
      북부동         83288.0
      불암동          8349.0
      삼안동         37701.0
      상동면          3437.0
      생림면          4031.0
      장유1동        56889.0
      장유2동        36327.0
      장유3동        56949.0
      주촌면          4688.0
      진례면          7330.0
      진영읍         53161.0
      칠산서부동       10097.0
      한림면          8437.0
      활천동         44493.0
      회현동         10405.0
Name: hm_cnt, Length: 96, dtype: float64

In [33]:
df.loc[df['address2'] == '어방동', 'hm_cnt'] = np.mean([10212.0, 10392.0, 8683.0])

In [34]:
# Null 값 채워졌는지 확인
df['hm_cnt'].isnull().sum()

4

사천시 실안동 데이터도 하나뿐임  
사천시 실안동은 행정동으로는 동서동에 속함  
<동서동 소속 동>  
동동(東洞)  
서동(西洞)  
대방동(大芳洞)  
실안동(實安洞)  
마도동(馬島洞)   
늑도동(勒島洞)  
신수동(新樹洞)  
동서동에는 7개의 동이 속해있으므로 동서동의 2017데이터의 중간값에 1/7을 해서 채움  
나머지 동에는 데이터가 없음

In [35]:
df[(df['address'] == '사천시 동서동') & (df['year'] == 2017)].groupby(['year', 'address2'])['hm_cnt'].median()

year  address2
2017  동서동         7220.0
Name: hm_cnt, dtype: float64

In [36]:
df.loc[df['address'] == '사천시 실안동', 'hm_cnt'] = 7220/7

In [37]:
# Null 값 채워졌는지 확인
df['hm_cnt'].isnull().sum()

3

동금동은 동서금동의 일부(지도상 약 1/2) + 향촌동의 일부(1/7)

In [38]:
df[df['address']=='사천시 동금동']

,ahsm_dstnc,bldng_ar,bldng_ar_prc,bldng_archtctr,bldng_cnt,bldng_cnt_in_50m,bldng_us,bldng_us_clssfctn,cctv_dstnc,cctv_in_100m,...,day,hour,minute,second,dayofweek,year-month,year-month-day,address1,address2,address
53074,92,225.21,NaN,철근콘크리트구조,1,4,제1종근린생활시설,상업용,175,0,...,26,20,12,0,Monday,2017-06,2017-06-26,사천시,동금동,사천시 동금동
53105,92,225.21,NaN,철근콘크리트구조,1,4,제1종근린생활시설,상업용,175,0,...,8,14,26,0,Friday,2014-08,2014-08-08,사천시,동금동,사천시 동금동
53106,92,225.21,NaN,철근콘크리트구조,1,4,제1종근린생활시설,상업용,175,0,...,22,21,38,0,Thursday,2014-05,2014-05-22,사천시,동금동,사천시 동금동

In [39]:
df[df['address']=='사천시 동서금동'].groupby(['year', 'address2'])['hm_cnt'].median()

year  address2
2014  동서금동        5834.0
2015  동서금동        5712.0
2016  동서금동        5526.0
2017  동서금동        5128.0
2018  동서금동        5360.5
Name: hm_cnt, dtype: float64

In [40]:
df[df['address']=='사천시 향촌동'].groupby(['year', 'address2'])['hm_cnt'].median()

year  address2
2014  향촌동         7230.0
2015  향촌동         7170.0
2016  향촌동         7208.0
2017  향촌동         7279.0
2018  향촌동         7263.0
Name: hm_cnt, dtype: float64

In [41]:
df.loc[(df['address'] == '사천시 동금동')&(df['year'] == 2017), 'hm_cnt'] = 5128/2 + 7279/7

In [42]:
df.loc[(df['address'] == '사천시 동금동')&(df['year'] == 2014), 'hm_cnt'] = 5834/2 + 7230/7

In [43]:
df['hm_cnt'].isnull().sum()
# 모든 데이터가 채워짐

0

## Null 값 채우기) fr_mn_cnt 관할소방서 인원

In [44]:
df['fr_mn_cnt'] = df.groupby(['year', 'address'])['fr_mn_cnt'].transform(lambda x: x.fillna(x.median()))

In [45]:
# 소방서 인원 Null 값 채워졌는지 확인

df['fr_mn_cnt'].isnull().sum()

1

남은 Null 값 확인

In [46]:
df[df['fr_mn_cnt'].isnull()]

,ahsm_dstnc,bldng_ar,bldng_ar_prc,bldng_archtctr,bldng_cnt,bldng_cnt_in_50m,bldng_us,bldng_us_clssfctn,cctv_dstnc,cctv_in_100m,...,day,hour,minute,second,dayofweek,year-month,year-month-day,address1,address2,address
4140,19224,983.92,NaN,블록구조,5,0,공장,공업용,205,0,...,21,1,46,1,Wednesday,2015-01,2015-01-21,김해시,어방동,김해시 어방동

In [47]:
df[df['address1'] == '김해시'].groupby(['year', 'address2'])['fr_mn_cnt'].median()

year  address2
2014  내외동         201.0
      대동면         201.0
      동상동         201.0
      부원동         201.0
      북부동         201.0
      불암동         201.0
      삼안동         201.0
      상동면         201.0
      생림면         201.0
      장유1동        178.0
      장유2동        178.0
      장유3동        178.0
      주촌면         178.0
      진례면         178.0
      진영읍         178.0
      칠산서부동       201.0
      한림면         178.0
      활천동         201.0
      회현동         201.0
2015  내외동         201.0
      대동면         201.0
      동상동         201.0
      부원동         201.0
      북부동         201.0
      불암동         201.0
      삼안동         201.0
      상동면         201.0
      생림면         201.0
      어방동           NaN
      장유1동        178.0
                  ...
2017  생림면         201.0
      장유1동        178.0
      장유2동        178.0
      장유3동        178.0
      주촌면         178.0
      진례면         178.0
      진영읍         178.0
      칠산서부동       201.0
      한림면         178.0
      활천동         201.0
      회현동         201.0
2018  내외동         201.0
      대동면         201.0
      동상동         201.0
      부원동         201.0
      북부동         201.0
      불암동         201.0
      삼안동         201.0
      상동면         201.0
      생림면         201.0
      장유1동        178.0
      장유2동        178.0
      장유3동        178.0
      주촌면         178.0
      진례면         178.0
      진영읍         178.0
      칠산서부동       201.0
      한림면         178.0
      활천동         201.0
      회현동         201.0
Name: fr_mn_cnt, Length: 96, dtype: float64

김해시 전체가 두 군데로 나뉘어 있음을 볼 수 있음

김해시 어방동은 동상동 부원동 불암동 사이에 있으므로 세 개 동과 같은 201로 채워준다

In [48]:
df.loc[df['address2'] == '어방동', 'fr_mn_cnt'] = 201

df['fr_mn_cnt'].isnull().sum()

0

## Null 값 채우기) wnd_spd 풍속

In [49]:
df['wnd_spd'] = df.groupby(['address', 'year-month-day'])['wnd_spd'].transform(lambda x: x.fillna(x.median()))
df['wnd_spd'].isnull().sum()

35

In [50]:
df['wnd_spd'] = df.groupby(['address', 'year-month'])['wnd_spd'].transform(lambda x: x.fillna(x.median()))
df['wnd_spd'].isnull().sum()

0

## Null 값 채우기) wnd_drctn 풍향
1. 해당 지역, 해당일의 풍향 중간값으로 채우기
2. 1에서 안 채워진 경우, 해당 지역, 해당월의 풍향 중간값으로 채우기
3. 2에서 안 채워진 경우, 해당일의 풍향 중간값으로 채우기

In [51]:
df['wnd_drctn'] = df.groupby(['address', 'year-month-day'])['wnd_drctn'].transform(lambda x: x.fillna(x.median()))
df['wnd_drctn'].isnull().sum()

201

In [52]:
df['wnd_drctn'] = df.groupby(['address', 'year-month'])['wnd_drctn'].transform(lambda x: x.fillna(x.median()))
df['wnd_drctn'].isnull().sum()

10

In [53]:
df['wnd_drctn'] = df.groupby(['year-month-day'])['wnd_drctn'].transform(lambda x: x.fillna(x.median()))
df['wnd_drctn'].isnull().sum()

0

## Null 값 채우기) hmdt 습도
corr 으로 습도와 상관계수 높은 컬럼 찾기

In [54]:
corr = train.corr()

In [55]:
corr.loc[corr['hmdt']<-0.2, 'hmdt']

wnd_spd     -0.402712
wnd_drctn   -0.253173
Name: hmdt, dtype: float64

1. 같은 풍속, 풍향인 날의 습도 중간값으로 채우기
2. 1에서 안 채워진 경우, 풍향이 같은 날의 습도 중간값으로 채우기 
3. 2에서 안 채워진 경우, 해당일의 습도 중간값으로 채우기

In [56]:
df['hmdt'].shape

(69050,)

In [57]:
df.shape

(69050, 187)

In [58]:
df['hmdt'] = df.groupby(['wnd_spd', 'wnd_drctn'])['hmdt'].transform(lambda x: x.fillna(x.median()))
df['hmdt'].isnull().sum()

8

In [59]:
df['hmdt'] = df.groupby(['year-month-day'])['hmdt'].transform(lambda x: x.fillna(x.median()))
df['hmdt'].isnull().sum()

0

## Null 값 채우기) tmprtr 온도
corr 으로 온도와 상관계수가 높은 컬럼 찾기

In [60]:
corr.loc[corr['tmprtr'] > 0.1, 'tmprtr']

tmprtr         1.000000
wnd_spd        0.106366
hmdt           0.125568
lw_13101110    0.145238
lw_13101210    0.118775
lw_13101211    0.136644
lw_13111010    0.116014
Name: tmprtr, dtype: float64

1. 풍속과 습도가 같은 날의 온도 중간값으로 채우기
2. 습도가 같은 해당일의 온도 중간값으로 채우기
3. 풍속이 같은 해당일의 온도 중간값으로 채우기
4. 습도가 같은 해당월의 온도 중간값으로 채우기

In [61]:
# wnd_spd 와 hmdt 가 float 라서 같은 값인데 다른 값으로 처리되는 것들이 있음
# 해결하기 위해 int 로 바꾼다

df['wnd_spd(int)'] = df['wnd_spd'].apply(lambda x: int(x))
df['hmdt(int)'] = df['hmdt'].apply(lambda x: int(x))

In [62]:
df['tmprtr'] = df.groupby(['wnd_spd(int)', 'hmdt(int)'])['tmprtr'].transform(lambda x: x.fillna(x.median()))
df['tmprtr'].isnull().sum()

0

# 강수량 열 null 값 채우고 원래 있던 0을 0.05로 바꿈

In [63]:
df['prcpttn'] = df['prcpttn'].transform(lambda x: 0.05 if x == 0 else x)

In [64]:
df['prcpttn'] = df['prcpttn'].transform(lambda x: x.fillna(0))

In [65]:
df['prcpttn'].isnull().sum()

0

# 중간 점검 - null 열 확인

In [66]:
df.isnull().sum().reset_index().sort_values(by = 0, ascending = False).values

array([['lw_13121011', 68636],
       ['lw_13121010', 68636],
       ['lw_13111110', 68628],
       ['lw_13101410', 68626],
       ['lw_13141011', 68618],
       ['lw_13101110', 68618],
       ['lw_13141010', 68617],
       ['lw_13101310', 68617],
       ['lw_13131110', 68613],
       ['lw_13131010', 68613],
       ['lw_13101210', 68612],
       ['lw_13101211', 68611],
       ['lw_13111010', 68609],
       ['lw_13101010', 68607],
       ['bldng_us_clssfctn', 31640],
       ['bldng_us', 29257],
       ['bldng_archtctr', 29222],
       ['gas_engry_us_201601', 29130],
       ['gas_engry_us_201508', 29130],
       ['gas_engry_us_201509', 29130],
       ['gas_engry_us_201510', 29130],
       ['gas_engry_us_201511', 29130],
       ['gas_engry_us_201512', 29130],
       ['gas_engry_us_201505', 29130],
       ['gas_engry_us_201602', 29130],
       ['gas_engry_us_201603', 29130],
       ['gas_engry_us_201604', 29130],
       ['gas_engry_us_201605', 29130],
       ['gas_engry_us_201606', 29130],
       ['gas_engry_us_201506', 29130],
       ['gas_engry_us_201507', 29130],
       ['gas_engry_us_201408', 29130],
       ['gas_engry_us_201504', 29130],
       ['gas_engry_us_201503', 29130],
       ['gas_engry_us_201502', 29130],
       ['gas_engry_us_201501', 29130],
       ['gas_engry_us_201412', 29130],
       ['gas_engry_us_201411', 29130],
       ['gas_engry_us_201410', 29130],
       ['gas_engry_us_201409', 29130],
       ['gas_engry_us_201608', 29130],
       ['gas_engry_us_201407', 29130],
       ['gas_engry_us_201405', 29130],
       ['gas_engry_us_201404', 29130],
       ['gas_engry_us_201403', 29130],
       ['gas_engry_us_201607', 29130],
       ['gas_engry_us_201705', 29130],
       ['gas_engry_us_201609', 29130],
       ['gas_engry_us_201712', 29130],
       ['gas_engry_us_201812', 29130],
       ['gas_engry_us_201811', 29130],
       ['gas_engry_us_201810', 29130],
       ['gas_engry_us_201809', 29130],
       ['gas_engry_us_201808', 29130],
       ['gas_engry_us_201807', 29130],
       ['gas_engry_us_201806', 29130],
       ['gas_engry_us_201805', 29130],
       ['gas_engry_us_201804', 29130],
       ['gas_engry_us_201803', 29130],
       ['gas_engry_us_201802', 29130],
       ['gas_engry_us_201801', 29130],
       ['gas_engry_us_201711', 29130],
       ['gas_engry_us_201610', 29130],
       ['gas_engry_us_201710', 29130],
       ['gas_engry_us_201709', 29130],
       ['gas_engry_us_201708', 29130],
       ['gas_engry_us_201707', 29130],
       ['gas_engry_us_201706', 29130],
       ['gas_engry_us_201401', 29130],
       ['gas_engry_us_201704', 29130],
       ['gas_engry_us_201703', 29130],
       ['gas_engry_us_201702', 29130],
       ['gas_engry_us_201701', 29130],
       ['gas_engry_us_201612', 29130],
       ['gas_engry_us_201611', 29130],
       ['gas_engry_us_201402', 29130],
       ['gas_engry_us_201406', 29130],
       ['ele_engry_us_201512', 29130],
       ['ele_engry_us_201407', 29130],
       ['ele_engry_us_201610', 29130],
       ['ele_engry_us_201609', 29130],
       ['ele_engry_us_201608', 29130],
       ['ele_engry_us_201607', 29130],
       ['ele_engry_us_201606', 29130],
       ['ele_engry_us_201605', 29130],
       ['ele_engry_us_201604', 29130],
       ['ele_engry_us_201603', 29130],
       ['ele_engry_us_201602', 29130],
       ['ele_engry_us_201601', 29130],
       ['ele_engry_us_201403', 29130],
       ['ele_engry_us_201511', 29130],
       ['ele_engry_us_201510', 29130],
       ['ele_engry_us_201509', 29130],
       ['ele_engry_us_201508', 29130],
       ['ele_engry_us_201507', 29130],
       ['ele_engry_us_201506', 29130],
       ['ele_engry_us_201505', 29130],
       ['ele_engry_us_201504', 29130],
       ['ele_engry_us_201503', 29130],
       ['ele_engry_us_201502', 29130],
       ['ele_engry_us_201501', 29130],
       ['ele_engry_us_201412', 29130],
       ['ele_engry_us_201411', 29130],
       ['ele_engry_us_201410', 29130],
       ['ele_engry_us_201409', 29130],
       ['ele_engry_us_201408', 29130],
       ['ele_engry_us_201404', 29130],
       ['ele_engry_us_201405', 29130],
       ['ele_engry_us_201611', 29130],
       ['ele_engry_us_201612', 29130],
       ['ele_engry_us_201701', 29130],
       ['ele_engry_us_201402', 29130],
       ['dt_of_athrztn', 29130],
       ['ele_engry_us_201401', 29130],
       ['ele_engry_us_201812', 29130],
       ['ele_engry_us_201811', 29130],
       ['ele_engry_us_201810', 29130],
       ['ele_engry_us_201809', 29130],
       ['ele_engry_us_201808', 29130],
       ['ele_engry_us_201807', 29130],
       ['ele_engry_us_201806', 29130],
       ['ele_engry_us_201805', 29130],
       ['ele_engry_us_201804', 29130],
       ['ele_engry_us_201702', 29130],
       ['ele_engry_us_201803', 29130],
       ['ele_engry_us_201802', 29130],
       ['ele_engry_us_201801', 29130],
       ['ele_engry_us_201712', 29130],
       ['ele_engry_us_201711', 29130],
       ['ele_engry_us_201710', 29130],
       ['ele_engry_us_201709', 29130],
       ['ele_engry_us_201708', 29130],
       ['ele_engry_us_201707', 29130],
       ['ele_engry_us_201706', 29130],
       ['ele_engry_us_201705', 29130],
       ['ele_engry_us_201704', 29130],
       ['ele_engry_us_201703', 29130],
       ['ele_engry_us_201406', 29130],
       ['bldng_ar_prc', 26322],
       ['ttl_dwn_flr', 12328],
       ['ttl_grnd_flr', 11347],
       ['fr_yn', 2957],
       ['lnd_us_sttn_nm', 2008],
       ['rgnl_ar_nm2', 1619],
       ['rgnl_ar_nm', 1619],
       ['rd_sd_nm', 1619],
       ['wnd_spd', 0],
       ['ttl_ar', 0],
       ['minute', 0],
       ['second', 0],
       ['wnd_drctn', 0],
       ['dayofweek', 0],
       ['wnd_spd(int)', 0],
       ['address', 0],
       ['address2', 0],
       ['address1', 0],
       ['year-month', 0],
       ['year-month-day', 0],
       ['tbc_rtl_str_dstnc', 0],
       ['day', 0],
       ['hour', 0],
       ['month', 0],
       ['year', 0],
       ['mlt_us_yn(encode)', 0],
       ['fire_yes', 0],
       ['tmprtr', 0],
       ['ahsm_dstnc', 0],
       ['tag', 0],
       ['sft_emrgnc_bll_dstnc', 0],
       ['bldng_cnt', 0],
       ['bldng_cnt_in_50m', 0],
       ['cctv_dstnc', 0],
       ['cctv_in_100m', 0],
       ['dt_of_fr', 0],
       ['emd_nm', 0],
       ['fr_mn_cnt', 0],
       ['fr_sttn_dstnc', 0],
       ['fr_wthr_fclt_dstnc', 0],
       ['fr_wthr_fclt_in_100m', 0],
       ['bldng_ar', 0],
       ['hm_cnt', 0],
       ['hmdt', 0],
       ['id', 0],
       ['jmk', 0],
       ['lnd_ar', 0],
       ['mlt_us_yn', 0],
       ['no_tbc_zn_dstnc', 0],
       ['prcpttn', 0],
       ['hmdt(int)', 0]], dtype=object)

# lw~ 컬럼, 가스에너지, 전기 에너지 null 값 -1 넣기

In [72]:
df[['lw_13121011','lw_13121010','lw_13111110','lw_13101410','lw_13141011','lw_13101110','lw_13141010','lw_13101310',
   'lw_13131110','lw_13131010','lw_13101210','lw_13101211','lw_13111010','lw_13101010','ele_engry_us_201401', 
    'ele_engry_us_201402','ele_engry_us_201403', 'ele_engry_us_201404','ele_engry_us_201405', 'ele_engry_us_201406',
    'ele_engry_us_201407', 'ele_engry_us_201408', 'ele_engry_us_201409', 'ele_engry_us_201410',
       'ele_engry_us_201411', 'ele_engry_us_201412', 'ele_engry_us_201501', 'ele_engry_us_201502',
       'ele_engry_us_201503', 'ele_engry_us_201504','ele_engry_us_201505', 'ele_engry_us_201506',
       'ele_engry_us_201507', 'ele_engry_us_201508', 'ele_engry_us_201509', 'ele_engry_us_201510',
       'ele_engry_us_201511', 'ele_engry_us_201512','ele_engry_us_201601', 'ele_engry_us_201602',
       'ele_engry_us_201603', 'ele_engry_us_201604', 'ele_engry_us_201605', 'ele_engry_us_201606',
       'ele_engry_us_201607', 'ele_engry_us_201608', 'ele_engry_us_201609', 'ele_engry_us_201610',
       'ele_engry_us_201611', 'ele_engry_us_201612', 'ele_engry_us_201701', 'ele_engry_us_201702',
       'ele_engry_us_201703', 'ele_engry_us_201704','ele_engry_us_201705', 'ele_engry_us_201706',
       'ele_engry_us_201707', 'ele_engry_us_201708', 'ele_engry_us_201709', 'ele_engry_us_201710',
       'ele_engry_us_201711', 'ele_engry_us_201712','ele_engry_us_201801', 'ele_engry_us_201802',
       'ele_engry_us_201803', 'ele_engry_us_201804','ele_engry_us_201805', 'ele_engry_us_201806',
       'ele_engry_us_201807', 'ele_engry_us_201808', 'ele_engry_us_201809', 'ele_engry_us_201810',
       'ele_engry_us_201811', 'ele_engry_us_201812','gas_engry_us_201401',
       'gas_engry_us_201402', 'gas_engry_us_201403','gas_engry_us_201404', 'gas_engry_us_201405',
       'gas_engry_us_201406', 'gas_engry_us_201407','gas_engry_us_201408', 'gas_engry_us_201409',
       'gas_engry_us_201410', 'gas_engry_us_201411','gas_engry_us_201412', 'gas_engry_us_201501',
       'gas_engry_us_201502', 'gas_engry_us_201503','gas_engry_us_201504', 'gas_engry_us_201505',
       'gas_engry_us_201506', 'gas_engry_us_201507','gas_engry_us_201508', 'gas_engry_us_201509',
       'gas_engry_us_201510', 'gas_engry_us_201511', 'gas_engry_us_201512', 'gas_engry_us_201601',
       'gas_engry_us_201602', 'gas_engry_us_201603','gas_engry_us_201604', 'gas_engry_us_201605',
       'gas_engry_us_201606', 'gas_engry_us_201607','gas_engry_us_201608', 'gas_engry_us_201609',
        'gas_engry_us_201610', 'gas_engry_us_201611', 'gas_engry_us_201612', 'gas_engry_us_201701',
       'gas_engry_us_201702', 'gas_engry_us_201703','gas_engry_us_201704', 'gas_engry_us_201705',
       'gas_engry_us_201706', 'gas_engry_us_201707','gas_engry_us_201708', 'gas_engry_us_201709',
       'gas_engry_us_201710', 'gas_engry_us_201711','gas_engry_us_201712', 'gas_engry_us_201801',
       'gas_engry_us_201802', 'gas_engry_us_201803','gas_engry_us_201804', 'gas_engry_us_201805',
       'gas_engry_us_201806', 'gas_engry_us_201807', 'gas_engry_us_201808', 'gas_engry_us_201809',
       'gas_engry_us_201810', 'gas_engry_us_201811','gas_engry_us_201812']] = df[['lw_13121011','lw_13121010','lw_13111110','lw_13101410','lw_13141011','lw_13101110','lw_13141010','lw_13101310',
   'lw_13131110','lw_13131010','lw_13101210','lw_13101211','lw_13111010','lw_13101010','ele_engry_us_201401', 
    'ele_engry_us_201402','ele_engry_us_201403', 'ele_engry_us_201404','ele_engry_us_201405', 'ele_engry_us_201406',
    'ele_engry_us_201407', 'ele_engry_us_201408', 'ele_engry_us_201409', 'ele_engry_us_201410',
       'ele_engry_us_201411', 'ele_engry_us_201412', 'ele_engry_us_201501', 'ele_engry_us_201502',
       'ele_engry_us_201503', 'ele_engry_us_201504','ele_engry_us_201505', 'ele_engry_us_201506',
       'ele_engry_us_201507', 'ele_engry_us_201508', 'ele_engry_us_201509', 'ele_engry_us_201510',
       'ele_engry_us_201511', 'ele_engry_us_201512','ele_engry_us_201601', 'ele_engry_us_201602',
       'ele_engry_us_201603', 'ele_engry_us_201604', 'ele_engry_us_201605', 'ele_engry_us_201606',
       'ele_engry_us_201607', 'ele_engry_us_201608', 'ele_engry_us_201609', 'ele_engry_us_201610',
       'ele_engry_us_201611', 'ele_engry_us_201612', 'ele_engry_us_201701', 'ele_engry_us_201702',
       'ele_engry_us_201703', 'ele_engry_us_201704','ele_engry_us_201705', 'ele_engry_us_201706',
       'ele_engry_us_201707', 'ele_engry_us_201708', 'ele_engry_us_201709', 'ele_engry_us_201710',
       'ele_engry_us_201711', 'ele_engry_us_201712','ele_engry_us_201801', 'ele_engry_us_201802',
       'ele_engry_us_201803', 'ele_engry_us_201804','ele_engry_us_201805', 'ele_engry_us_201806',
       'ele_engry_us_201807', 'ele_engry_us_201808', 'ele_engry_us_201809', 'ele_engry_us_201810',
       'ele_engry_us_201811', 'ele_engry_us_201812','gas_engry_us_201401',
       'gas_engry_us_201402', 'gas_engry_us_201403','gas_engry_us_201404', 'gas_engry_us_201405',
       'gas_engry_us_201406', 'gas_engry_us_201407','gas_engry_us_201408', 'gas_engry_us_201409',
       'gas_engry_us_201410', 'gas_engry_us_201411','gas_engry_us_201412', 'gas_engry_us_201501',
       'gas_engry_us_201502', 'gas_engry_us_201503','gas_engry_us_201504', 'gas_engry_us_201505',
       'gas_engry_us_201506', 'gas_engry_us_201507','gas_engry_us_201508', 'gas_engry_us_201509',
       'gas_engry_us_201510', 'gas_engry_us_201511', 'gas_engry_us_201512', 'gas_engry_us_201601',
       'gas_engry_us_201602', 'gas_engry_us_201603','gas_engry_us_201604', 'gas_engry_us_201605',
       'gas_engry_us_201606', 'gas_engry_us_201607','gas_engry_us_201608', 'gas_engry_us_201609',
        'gas_engry_us_201610', 'gas_engry_us_201611', 'gas_engry_us_201612', 'gas_engry_us_201701',
       'gas_engry_us_201702', 'gas_engry_us_201703','gas_engry_us_201704', 'gas_engry_us_201705',
       'gas_engry_us_201706', 'gas_engry_us_201707','gas_engry_us_201708', 'gas_engry_us_201709',
       'gas_engry_us_201710', 'gas_engry_us_201711','gas_engry_us_201712', 'gas_engry_us_201801',
       'gas_engry_us_201802', 'gas_engry_us_201803','gas_engry_us_201804', 'gas_engry_us_201805',
       'gas_engry_us_201806', 'gas_engry_us_201807', 'gas_engry_us_201808', 'gas_engry_us_201809',
       'gas_engry_us_201810', 'gas_engry_us_201811','gas_engry_us_201812']].fillna(-1)

In [74]:
df.isnull().sum().reset_index().sort_values(by = 0, ascending = False).values

array([['bldng_us_clssfctn', 31640],
       ['bldng_us', 29257],
       ['bldng_archtctr', 29222],
       ['dt_of_athrztn', 29130],
       ['bldng_ar_prc', 26322],
       ['ttl_dwn_flr', 12328],
       ['ttl_grnd_flr', 11347],
       ['fr_yn', 2957],
       ['lnd_us_sttn_nm', 2008],
       ['rgnl_ar_nm2', 1619],
       ['rd_sd_nm', 1619],
       ['rgnl_ar_nm', 1619],
       ['gas_engry_us_201809', 0],
       ['gas_engry_us_201808', 0],
       ['hm_cnt', 0],
       ['gas_engry_us_201708', 0],
       ['gas_engry_us_201709', 0],
       ['gas_engry_us_201812', 0],
       ['gas_engry_us_201811', 0],
       ['gas_engry_us_201710', 0],
       ['gas_engry_us_201711', 0],
       ['gas_engry_us_201712', 0],
       ['gas_engry_us_201801', 0],
       ['gas_engry_us_201802', 0],
       ['gas_engry_us_201803', 0],
       ['gas_engry_us_201804', 0],
       ['gas_engry_us_201805', 0],
       ['gas_engry_us_201810', 0],
       ['gas_engry_us_201807', 0],
       ['gas_engry_us_201806', 0],
       ['ahsm_dstnc', 0],
       ['gas_engry_us_201707', 0],
       ['gas_engry_us_201608', 0],
       ['gas_engry_us_201511', 0],
       ['gas_engry_us_201512', 0],
       ['gas_engry_us_201601', 0],
       ['gas_engry_us_201602', 0],
       ['gas_engry_us_201603', 0],
       ['gas_engry_us_201604', 0],
       ['gas_engry_us_201605', 0],
       ['gas_engry_us_201606', 0],
       ['gas_engry_us_201607', 0],
       ['gas_engry_us_201609', 0],
       ['gas_engry_us_201706', 0],
       ['gas_engry_us_201610', 0],
       ['gas_engry_us_201611', 0],
       ['gas_engry_us_201612', 0],
       ['gas_engry_us_201701', 0],
       ['gas_engry_us_201702', 0],
       ['gas_engry_us_201703', 0],
       ['gas_engry_us_201704', 0],
       ['id', 0],
       ['gas_engry_us_201705', 0],
       ['hmdt', 0],
       ['lw_13101210', 0],
       ['jmk', 0],
       ['hour', 0],
       ['ttl_ar', 0],
       ['wnd_drctn', 0],
       ['wnd_spd', 0],
       ['fire_yes', 0],
       ['mlt_us_yn(encode)', 0],
       ['year', 0],
       ['month', 0],
       ['day', 0],
       ['minute', 0],
       ['lnd_ar', 0],
       ['second', 0],
       ['dayofweek', 0],
       ['year-month', 0],
       ['year-month-day', 0],
       ['address1', 0],
       ['address2', 0],
       ['address', 0],
       ['wnd_spd(int)', 0],
       ['tmprtr', 0],
       ['tbc_rtl_str_dstnc', 0],
       ['tag', 0],
       ['sft_emrgnc_bll_dstnc', 0],
       ['lw_13101010', 0],
       ['lw_13101110', 0],
       ['gas_engry_us_201509', 0],
       ['lw_13101211', 0],
       ['lw_13101310', 0],
       ['lw_13101410', 0],
       ['lw_13111010', 0],
       ['lw_13111110', 0],
       ['lw_13121010', 0],
       ['lw_13121011', 0],
       ['lw_13131010', 0],
       ['lw_13131110', 0],
       ['lw_13141010', 0],
       ['lw_13141011', 0],
       ['mlt_us_yn', 0],
       ['no_tbc_zn_dstnc', 0],
       ['prcpttn', 0],
       ['gas_engry_us_201510', 0],
       ['gas_engry_us_201505', 0],
       ['gas_engry_us_201508', 0],
       ['ele_engry_us_201505', 0],
       ['ele_engry_us_201507', 0],
       ['ele_engry_us_201508', 0],
       ['ele_engry_us_201509', 0],
       ['ele_engry_us_201510', 0],
       ['ele_engry_us_201511', 0],
       ['ele_engry_us_201512', 0],
       ['ele_engry_us_201601', 0],
       ['ele_engry_us_201602', 0],
       ['ele_engry_us_201603', 0],
       ['ele_engry_us_201604', 0],
       ['ele_engry_us_201605', 0],
       ['ele_engry_us_201606', 0],
       ['ele_engry_us_201607', 0],
       ['ele_engry_us_201608', 0],
       ['ele_engry_us_201609', 0],
       ['ele_engry_us_201610', 0],
       ['ele_engry_us_201611', 0],
       ['ele_engry_us_201612', 0],
       ['ele_engry_us_201701', 0],
       ['ele_engry_us_201506', 0],
       ['ele_engry_us_201504', 0],
       ['ele_engry_us_201703', 0],
       ['ele_engry_us_201503', 0],
       ['bldng_cnt', 0],
       ['bldng_cnt_in_50m', 0],
       ['cctv_dstnc', 0],
       ['cctv_in_100m', 0],
       ['dt_of_fr', 0],
       ['ele_engry_us_201401', 0],
       ['ele_engry_us_201402', 0],
       ['ele_engry_us_201403', 0],
       ['ele_engry_us_201404', 0],
       ['ele_engry_us_201405', 0],
       ['ele_engry_us_201406', 0],
       ['ele_engry_us_201407', 0],
       ['ele_engry_us_201408', 0],
       ['ele_engry_us_201409', 0],
       ['ele_engry_us_201410', 0],
       ['ele_engry_us_201411', 0],
       ['ele_engry_us_201412', 0],
       ['ele_engry_us_201501', 0],
       ['ele_engry_us_201502', 0],
       ['ele_engry_us_201702', 0],
       ['ele_engry_us_201704', 0],
       ['gas_engry_us_201507', 0],
       ['fr_sttn_dstnc', 0],
       ['fr_wthr_fclt_in_100m', 0],
       ['gas_engry_us_201401', 0],
       ['gas_engry_us_201402', 0],
       ['gas_engry_us_201403', 0],
       ['gas_engry_us_201404', 0],
       ['gas_engry_us_201405', 0],
       ['gas_engry_us_201406', 0],
       ['gas_engry_us_201407', 0],
       ['gas_engry_us_201408', 0],
       ['gas_engry_us_201409', 0],
       ['gas_engry_us_201410', 0],
       ['gas_engry_us_201411', 0],
       ['gas_engry_us_201412', 0],
       ['gas_engry_us_201501', 0],
       ['gas_engry_us_201502', 0],
       ['gas_engry_us_201503', 0],
       ['gas_engry_us_201504', 0],
       ['bldng_ar', 0],
       ['gas_engry_us_201506', 0],
       ['fr_wthr_fclt_dstnc', 0],
       ['fr_mn_cnt', 0],
       ['ele_engry_us_201705', 0],
       ['emd_nm', 0],
       ['ele_engry_us_201706', 0],
       ['ele_engry_us_201707', 0],
       ['ele_engry_us_201708', 0],
       ['ele_engry_us_201709', 0],
       ['ele_engry_us_201710', 0],
       ['ele_engry_us_201711', 0],
       ['ele_engry_us_201712', 0],
       ['ele_engry_us_201801', 0],
       ['ele_engry_us_201802', 0],
       ['ele_engry_us_201803', 0],
       ['ele_engry_us_201804', 0],
       ['ele_engry_us_201805', 0],
       ['ele_engry_us_201806', 0],
       ['ele_engry_us_201807', 0],
       ['ele_engry_us_201808', 0],
       ['ele_engry_us_201809', 0],
       ['ele_engry_us_201810', 0],
       ['ele_engry_us_201811', 0],
       ['ele_engry_us_201812', 0],
       ['hmdt(int)', 0]], dtype=object)

# 여기까지가 끝

In [ ]:
train_p = pd.read_csv('train_PCA_jmk_lnd_fl_prc.csv')
valid_p = pd.read_csv('valid_PCA_jmk_lnd_fl_prc.csv')
test_p = pd.read_csv('test_PCA_jmk_lnd_fl_prc.csv')

In [ ]:
df_train = df[df['tag']==1]

In [ ]:
df_test = df[df['tag']==2]
df_valid = df[df['tag']==0]

In [ ]:
train = pd.merge(df_train, train_p, on = 'id', how = 'outer')

In [ ]:
test = pd.merge(df_test, test_p, on = 'id')
valid = pd.merge(df_valid, valid_p, on = 'id')

In [ ]:
train = train.fillna(-1)
valid= valid.fillna(-1)
test = test.fillna(-1)

In [ ]:
train = train.to_csv('train_all.csv', index=False)
test = test.to_csv('test_all.csv', index=False)
valid = valid.to_csv('valid_all.csv', index=False)

In [ ]:
train_p['cluster'].unique()

# 전처리 완료한 데이터셋 csv 로 저장

In [ ]:
train['dt_of_athrztn'].isnull().sum()

In [ ]:
# 필요한 컬럼만 불러오기 (건물용도 포함)
columns = ['id', 'tag'
           # 날짜
           , 'year', 'month', 'day', 'dayofweek', 'year-month', 'year-month-day', 'hour', 'minute', 'second'
          # 건물 용도
           , 'jmk'
          # 건물 용도 (전처리 안됨)
#            , 'bldng_us', 'bldng_archtctr', 'bldng_us_clssfctn', 'dt_of_athrztn'
          # 건물 정보 (전처리 안됨)
#            ,   'ttl_grnd_flr', 'ttl_dwn_flr'
           , 'lnd_ar', 'ttl_ar', 'bldng_cnt', 'bldng_ar'
           # 다중이용업소
           , 'mlt_us_yn(encode)'
          # 날씨 정보
           , 'tmprtr', 'wnd_spd', 'wnd_drctn', 'hmdt'
          # 행정구역 정보
           , 'address', 'address1', 'address2', 'hm_cnt'
          # 도심과 가까운 정도
           , 'fr_sttn_dstnc', 'fr_wthr_fclt_dstnc', 'cctv_dstnc', 'cctv_in_100m', 'fr_mn_cnt'
           , 'fr_wthr_fclt_in_100m', 'tbc_rtl_str_dstnc', 'sft_emrgnc_bll_dstnc', 'ahsm_dstnc'
           , 'no_tbc_zn_dstnc', 'bldng_cnt_in_50m'
          # 화재발생 여부
           , 'fire_yes'
          ]

columns_test = list(set(columns) - set(['fire_yes']))
print(len(columns))
print(len(columns_test))
print(df[columns].shape)
df[columns].sample()

In [ ]:
train = df[df['tag'] == 'train'][columns]
test = df[df['tag'] == 'test'][columns_test]
valid = df[df['tag'] == 'valid'][columns]

print(train.shape)
print(test.shape)
print(valid.shape)

In [ ]:
train.to_csv('../Data/train_preprocess.csv', index=False)
test.to_csv('../Data/test_preprocess.csv', index=False)
valid.to_csv('../Data/valid_preprocess.csv', index=False)

In [ ]:
# 잘 저장됐는지 확인
# pd.read_csv('../Data/train_preprocess.csv')
# pd.read_csv('../Data/test_preprocess.csv')
# pd.read_csv('../Data/valid_preprocess.csv')

# 카테고리컬 데이터 변경

In [ ]:
df_origin = df.copy()

In [ ]:
categorical_cols = df.select_dtypes(['object']).columns
for col in categorical_cols:
    df[col] = pd.Categorical(df[col]).codes

In [ ]:
object_col = list(df_origin.select_dtypes(['object']).columns)

In [ ]:
object_col.append('id')

In [ ]:
object_col

In [ ]:
df.merge(df_origin[object_col]