In [1]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.formula.api import ols
import math
warnings.filterwarnings(action='ignore')

%matplotlib inline

import plotly.express as px
import plotly.graph_objects as go

plt.rcParams["font.family"] = 'NanumSquareRoundOTF'
plt.rcParams["font.size"] = 12

In [2]:
df_test = pd.read_csv('../Data/test_PCA_jmk_lnd.csv')
df_train = pd.read_csv('../Data/train_PCA_jmk_lnd.csv')
df_valid = pd.read_csv('../Data/valid_PCA_jmk_lnd.csv')
# 원본
df_te = pd.read_csv('../Data/PJT002_test.csv')
df_tr = pd.read_csv('../Data/PJT002_train.csv')
df_va = pd.read_csv('../Data/PJT002_validation.csv')

In [37]:
# 데이터 리스트
df_l = [df_train, df_test, df_valid]

# 자주 쓸 컬럼들
w = ['id', 'bldng_cnt', 'bldng_ar', 'ttl_ar', 'lnd_ar', 'ttl_grnd_flr', 'ttl_dwn_flr','lnd_us_sttn_nm(clean)']
u = ['id', 'bldng_cnt', 'bldng_ar', 'ttl_ar', 'lnd_ar', 'ttl_grnd_flr', 'ttl_dwn_flr','lnd_us_sttn_nm']

## 01. 지하 층 결측치 채우기

In [4]:
# 지하 층 컬럼 복원하기
# 지하 층 수 notull은 평균 0.13... 이므로 0으로 채움

a = df_te[['id','ttl_dwn_flr']].fillna(0)
df_test = df_test.merge(a, on='id')

a = df_tr[['id','ttl_dwn_flr']].fillna(0)
df_train = df_train.merge(a, on='id')

a = df_va[['id','ttl_dwn_flr']].fillna(0)
df_valid = df_valid.merge(a, on='id')

## 02. 지상 층 결측치 채움

In [5]:
# 지상 층수는 상황에 나누어 채움
# 지워진 층수 데이터 합치고 채우기
def grnd_n(row) :
        # 0이지만 0이 아니어야 할 때
        if (row['ttl_grnd_flr'] == 0) & (row['ttl_ar'] != 0) & (row['bldng_ar'] != 0):
            return math.ceil(row['ttl_ar'] / row['bldng_ar']) 
        # null이 아니라면 있는 그대로
        elif pd.notnull(row['ttl_grnd_flr']) :
            return row['ttl_grnd_flr']
        # null : 연면적 /빌딩면적 - 지하층수 
        elif (row['ttl_ar'] != 0) & (row['bldng_ar'] != 0):
            return math.ceil(row['ttl_ar'] / row['bldng_ar'])
        # ttl_ar나 bldng_ar가 0이라면 0, axis=1)
        return 0


#지상층 컬럼 다시 불러오기
a = df_te[['id', 'ttl_grnd_flr']]
df_test = df_test.merge(a, on='id')
df_test['ttl_grnd_flr'] = df_test.apply(grnd_n, axis=1)


a = df_tr[['id','ttl_grnd_flr']]
df_train = df_train.merge(a, on='id')
df_train['ttl_grnd_flr'] = df_train.apply(grnd_n, axis=1)


a = df_va[['id','ttl_grnd_flr']]
df_valid = df_valid.merge(a, on='id')
df_valid['ttl_grnd_flr'] = df_valid.apply(grnd_n, axis=1)

In [6]:
# 결측치가 얼마나 남았는지 체크하는 함수
def print_null(df):
    print('건물채수가 0인 데이터: ', len(df[df['bldng_cnt'] == 0]), '개')
    print('건축면적이 0인 데이터: ', len(df[df['bldng_ar'] == 0]), '개')
    print('건물연면적 0인 데이터: ', len(df[df['ttl_ar'] == 0]), '개')
    print('토지면적이 0인 데이터: ', len(df[df['lnd_ar'] == 0]), '개')        
    print('지상 층수 데이터 없는 데이터: ', len(df[df['ttl_grnd_flr'].isnull()]), '개')
    print('지하 층수 데이터 없는 데이터: ', len(df[df['ttl_dwn_flr'].isnull()]), '개')
    print('지상 층수가 0 : ', len(df[df['ttl_grnd_flr'] == 0]), '개')
    print('지하 층수가 0: ', len(df[df['ttl_dwn_flr'] == 0.0]), '개')
    
print_null(df_tr)

건물채수가 0인 데이터:  0 개
건축면적이 0인 데이터:  9660 개
건물연면적 0인 데이터:  8426 개
토지면적이 0인 데이터:  25569 개
지상 층수 데이터 없는 데이터:  10210 개
지하 층수 데이터 없는 데이터:  11005 개
지상 층수가 0 :  103 개
지하 층수가 0:  44579 개

In [7]:
# df_tr[df_tr['ttl_grnd_flr'] == 0][u]

,id,bldng_cnt,bldng_ar,ttl_ar,lnd_ar,ttl_grnd_flr,ttl_dwn_flr,lnd_us_sttn_nm
644,94401,7,37.20,37.20,0.0,0.0,0.0,단독
1291,71498,5,43.80,43.80,0.0,0.0,0.0,단독
1739,96376,5,77.50,77.50,0.0,0.0,0.0,단독
5081,136559,1,140.21,271.32,0.0,0.0,0.0,단독
8354,87053,6,118.60,118.60,0.0,0.0,0.0,단독
8420,97121,4,113.50,113.50,943.0,0.0,0.0,단독
9494,75519,1,211.10,270.48,628.0,0.0,0.0,단독
9503,106821,1,145.50,145.50,0.0,0.0,0.0,주거기타
9647,132906,2,2625.00,2625.00,13376.0,0.0,0.0,답
9701,102766,3,88.80,131.70,180.0,0.0,2.0,단독
10074,80072,1,80.00,80.00,0.0,0.0,0.0,상업용
10103,73465,8,314.44,423.76,1778.0,0.0,0.0,업무용
10699,100939,5,66.11,66.11,0.0,0.0,0.0,단독
11756,82039,4,65.10,65.10,0.0,0.0,0.0,단독
12217,97127,7,56.19,56.19,0.0,0.0,0.0,단독
12985,122585,1,0.00,279.66,356.0,0.0,1.0,주거기타
13793,86331,4,888.29,3394.99,0.0,0.0,1.0,상업용
13876,130237,1,58.29,53.09,2721.0,0.0,0.0,운동장등
14389,127258,8,200.86,200.86,632.0,0.0,0.0,단독
14610,71329,2,109.50,122.85,274.0,0.0,0.0,단독
15559,120473,10,1510.01,2071.37,15594.0,0.0,0.0,주거기타
16066,100889,3,72.80,72.80,0.0,0.0,0.0,단독
16315,80883,5,272.40,272.40,0.0,0.0,0.0,단독
16524,85953,3,54.40,54.40,0.0,0.0,0.0,단독
16557,104882,2,65.40,65.40,132.0,0.0,0.0,단독
16757,124711,3,96.20,96.20,0.0,0.0,0.0,단독
16893,119973,7,162.80,162.80,747.0,0.0,0.0,단독
17776,84033,3,136.30,136.30,0.0,0.0,0.0,단독
17847,87375,2,125.00,125.00,0.0,0.0,0.0,단독
17850,90052,6,224.40,224.40,0.0,0.0,0.0,단독
...,...,...,...,...,...,...,...,...
23402,123848,6,0.00,122.01,0.0,0.0,0.0,자연림
24718,94593,7,1157.33,1000.00,4867.9,0.0,0.0,업무용
28276,78012,3,49.58,49.58,660.0,0.0,1.0,단독
28679,95144,1,84.14,0.00,0.0,0.0,0.0,단독
28956,92958,3,31.80,31.80,0.0,0.0,0.0,단독
29796,86376,3,670.30,670.30,4338.0,0.0,0.0,답기타
30004,96763,3,123.93,123.93,0.0,0.0,0.0,단독
30608,80286,3,360.00,360.00,2646.0,0.0,0.0,NaN
32186,115838,1,94.74,329.48,0.0,0.0,0.0,상업용
33570,76422,3,0.00,0.00,0.0,0.0,0.0,단독
33741,76332,14,0.00,1899.06,0.0,0.0,0.0,주거기타
34289,123344,2,0.00,0.00,0.0,0.0,0.0,단독
34293,91586,2,42.97,42.97,0.0,0.0,0.0,단독
34321,79524,3,95.26,95.26,382.0,0.0,0.0,단독
35269,88544,3,1329.00,1329.00,0.0,0.0,0.0,운동장등
35481,91526,4,104.02,104.02,0.0,0.0,0.0,단독
35875,127146,2,54.29,54.29,0.0,0.0,0.0,단독
37913,76344,1,53.16,0.00,0.0,0.0,0.0,단독
40778,109596,2,119.40,119.40,0.0,0.0,0.0,단독
41231,77426,4,110.73,110.73,317.0,0.0,0.0,단독
44709,93861,3,373.89,373.89,876.0,0.0,0.0,답기타
47936,117210,1,0.00,71.28,1185.0,0.0,1.0,전기타
49156,76781,1,92.20,92.20,0.0,0.0,0.0,단독
50713,133508,1,57.51,57.51,347.0,0.0,1.0,단독
52858,119543,8,952.99,1577.08,0.0,0.0,0.0,주거기타
53892,128490,10,802.12,1336.72,9618.0,0.0,0.0,주거기타
53899,114086,5,29.00,29.00,0.0,0.0,0.0,단독
54592,87913,6,65.20,65.20,0.0,0.0,0.0,단독
54693,94582,2,66.12,66.12,0.0,0.0,0.0,주거기타
57331,90002,5,432.42,667.45,769.0,0.0,0.0,상업용

## 03. 빌딩면적 결측치

### 연면적, 빌딩면적, 토지면적이 모두 있는 데이터를 기준으로 결측치를 채운다.

### 토지 사용도에 따라 많은 데이터의 기준점이 달라질 것으로 예상하고, 어떤 데이터들이 비어있는지 확인해 보자

In [12]:
D = df_train
A = D['ttl_ar'] == 0
B = D['bldng_ar'] == 0
C = D['lnd_ar'] == 0
us_cnt = pd.DataFrame()


d = D[A & B & C]
us_cnt['nnn'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

d = D[A & B & ~C] 
us_cnt['nny'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

d = D[A & ~B & ~C] 
us_cnt['nyy'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

d = D[A & ~B & C]
us_cnt['nyn'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

d = D[~A & B & C] 
us_cnt['ynn'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

d = D[~A & ~B & C] 
us_cnt['yyn'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

d = D[~A & B & ~C] 
us_cnt['yny'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

d = D[~A & ~B & ~C]
us_cnt['yyy'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

us_cnt['sum'] = us_cnt.apply(lambda row : row.sum(), axis = 1)
us_cnt.loc['sum'] = us_cnt.apply(lambda col : col.sum())
us_cnt.tail()

,nnn,nny,nyy,nyn,ynn,yyn,yny,yyy,sum
lnd_us_sttn_nm(clean),,,,,,,,,
주차장등,12.0,NaN,NaN,NaN,NaN,12.0,NaN,26.0,50.0
토지임야,75.0,NaN,NaN,NaN,3.0,19.0,NaN,28.0,125.0
특수기타,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0
하천등,328.0,NaN,NaN,NaN,NaN,20.0,NaN,20.0,368.0
sum,8062.0,342.0,13.0,8.0,929.0,16555.0,326.0,32924.0,59159.0

<br>
<br>

### 토지면적이 모두 있는 데이터 안에서 컬럼간의 상관관계를 보자

In [13]:
df_tr_nn = df_train[~A & ~B & ~C]

In [14]:
df_tr_nn[w].corr().iloc[2:,2:]

              bldng_ar    ttl_ar    lnd_ar  ttl_grnd_flr  ttl_dwn_flr
bldng_ar      1.000000  0.912741  0.769379      0.553462     0.686816
ttl_ar        0.912741  1.000000  0.881332      0.666529     0.802816
lnd_ar        0.769379  0.881332  1.000000      0.439224     0.663700
ttl_grnd_flr  0.553462  0.666529  0.439224      1.000000     0.735284
ttl_dwn_flr   0.686816  0.802816  0.663700      0.735284     1.000000

<br>

### 토지 사용도에 따른 컬럼의 표준편차를 살펴본다.

In [19]:
t = pd.DataFrame()
use_l = df_tr_nn['lnd_us_sttn_nm(clean)'].unique()

for use in use_l :
    dt = [round(np.std(df_tr_nn[df_tr_nn['lnd_us_sttn_nm(clean)'] == use]['lnd_ar']), 1),
          round(np.std(df_tr_nn[df_tr_nn['lnd_us_sttn_nm(clean)'] == use]['ttl_ar']), 1),
          round(np.std(df_tr_nn[df_tr_nn['lnd_us_sttn_nm(clean)'] == use]['bldng_ar']),1)]
    t[use] = dt    
ta = np.transpose(t)
ta = ta.reset_index()
ta = ta.rename(columns = {'index': 'lnd_us_sttn_nm(clean)'})
ta = ta.rename(columns={0:'lnd_ar표편', 1:'ttl_ar', 2:'blndg_ar'})
ta

   lnd_us_sttn_nm(clean)    lnd_ar표편   ttl_ar  blndg_ar
0                     단독      5647.7   1768.0    1261.7
1                    상업용     10876.8  10538.1    1681.3
2                    주상용       973.8   1218.4     296.4
3                    아파트    256665.0  61119.6    8892.5
4                   주거기타   9402237.5  84789.0   25935.8
5                   주거나지    203448.5  15693.4    1583.1
6                    업무용     11108.4   5479.7    1137.9
7                   주상기타      3561.8   1258.1     471.6
8                   운동장등    122591.4   8666.9    6602.2
9                    전기타      5261.6    853.4     683.5
10                   다세대       639.0    563.0     217.9
11                    연립      1210.4   2314.9     390.4
12                   과수원      2255.6    311.4     305.4
13                   공업용    366658.0  34222.9   27223.4
14                   답기타     42130.5   1180.8    1112.4
15                     전     10444.5    354.0     298.2
16                  공업기타     74330.4  12439.5   10038.8
17                  상업기타    117463.1   5017.1     606.0
18                   하천등     12249.6    934.2     551.1
19                  공업나지   2293257.1   6911.3    5102.2
20                     답      2853.8    572.5     550.3
21                   자연림  13432082.8   5523.7    2532.4
22                  주차장등      8730.4  12156.4    2115.7
23                  주상나지       541.7   1120.7     253.0
24                   도로등     67248.3   1517.5    1269.8
25                  상업나지       804.3   4390.0     530.6
26              여객자동차터미널     10038.3   9448.7    7456.5
27               골프장 대중제         0.0      0.0       0.0
28               유해.혐오시설    182521.1   9258.4    6005.6
29                  임야기타   1700481.1   3355.7    2223.2
30               골프장 회원제   5575797.2   6526.6    3437.9
31                  토지임야    175043.1    387.9     318.6
32                   공원등    300397.0   2634.0    1697.7
33                    기타     52602.6   5005.9    3666.8
34                   스키장         0.0      0.0       0.0
35                  목장용지     52440.3   1683.4    1673.9
36                  공원묘지         0.0      0.0       0.0
37                   유원지   4768674.0   7441.4    4856.8
38                  위험시설         0.0      0.0       0.0
39                    조림     19896.0    302.7     302.7
40               고속도로휴게소    449602.3   1106.9     821.8

---
<br>

## 빌딩면적 결측값 채우기 (bldng_ar)
#### 1. 연면적이 있고 층수가 1일 이상일 때, 
####       bldng_ar = around(bldng_ar = ttl_ar / 총 층수)

In [20]:
D = df_train
A = D['ttl_ar'] == 0
B = D['bldng_ar'] == 0
C = D['lnd_ar'] == 0
D[C].count()[0]

25567

In [21]:
df = df_train
df['bldng_ar'] = df.apply(lambda row :
                          row['bldng_ar'] if row['bldng_ar'] != 0
                          else row['ttl_ar'] / row['ttl_grnd_flr'] if (row['ttl_grnd_flr'] >= 1) & (row['ttl_ar']!= 0)
                          else row['ttl_ar'] if (row['ttl_ar'] != 0)
                          else row['bldng_ar'] , axis = 1)

df = df_test

df['bldng_ar'] = df.apply(lambda row :
                          row['bldng_ar'] if row['bldng_ar'] != 0
                          else row['ttl_ar'] / (row['ttl_grnd_flr'] + row['ttl_dwn_flr']) if (row['ttl_grnd_flr'] + row['ttl_dwn_flr'] >= 1) & (row['ttl_ar']!= 0)
                          else row['ttl_ar'] if (row['ttl_ar'] != 0)
                          else row['bldng_ar'] , axis = 1)

df = df_valid

def f(row):
    if row['bldng_ar'] != 0:
        return row['bldng_ar']
    if (row['ttl_grnd_flr'] + row['ttl_dwn_flr'] >= 1) & (row['ttl_ar']!= 0):
        return row['ttl_ar'] / (row['ttl_grnd_flr'] + row['ttl_dwn_flr'])
    if (row['ttl_ar'] != 0):
        return row['ttl_ar']
    return row['bldng_ar']

df['bldng_ar'] = df.apply(f, axis = 1)

#### bldng_ar = around(lnd_ar * 상관계수)

DF blm_train

blm = 빌딩면적 / 토지면적 의 평균

tlm = 연면적 / 토지면적의 평균

## 04. 토지면적 결측치

#### 토지면적 아웃라이어(아파트, 목장 등에서 많이 발견)이라고 생각했으나, 아파트와 목장의 용적률은 다른 토지들과 많이 다를 수 있다는 사실이 있음

In [22]:
# # 아웃라이어 삭제
# for df in df_l:
#     df['lnd_ar'] = df.apply(lambda row :
#                         0 if row['lnd_ar'] == 0
#                         else row['lnd_ar'] if (row['lnd_ar'] >= row['ttl_ar']) | (row['lnd_ar'] >= row['bldng_ar'])
#                         else (row['bldng_ar'] * 3) if (row['bldng_ar'] != 0) & (row['lnd_ar'] <= row['bldng_ar'])
#                         else row['lnd_ar']
#                         ,axis = 1)

In [23]:
# lnd_ar과 상관관계가 높은 변수를 고르는 함수 (building or total)
def find_bort(a, use):
    if len(a) == 0:
        return 't'

    co = a[w].corr()
    t = co.loc['lnd_ar', 'ttl_ar']
    b = co.loc['lnd_ar', 'bldng_ar']
    bort = 't' if t >= b else 'b'
    return bort


# 토지 이용도 마다 최적의 면적대비율을 찾아 표로 만들기
use_l = df_train['lnd_us_sttn_nm(clean)'].unique()

    #train으로만 학습할 것임
blm_train = pd.DataFrame()
df = df_train

for use in use_l :
    a = df[~A & ~B & ~C & (df['lnd_us_sttn_nm(clean)'] == use)]
    
    bl = a['bldng_ar'] / a['lnd_ar']
    tl = a['ttl_ar'] / a['lnd_ar']
    
    blm = round(bl.mean(), 2)
    tlm = round(tl.mean(), 2)

    bort = find_bort(a, use)
#     print('use: ', use)
#     print('bl: ', bl)
#     print('tl: ', tl)
#     print('blm: ', blm)
#     print('tlm: ', tlm)
    s = {'bort': bort, 'tlm': tlm, "blm" : blm, 'lnd_us_sttn_nm(clean)' : use}
    blm_train = blm_train.append(s, ignore_index =True)
    
blm_train = blm_train.fillna(0)

blm_medi = blm_train['blm'].median()
tlm_medi = blm_train['tlm'].median()
print(blm_medi, tlm_medi)

0.27 0.29000000000000004

#### 적용

In [24]:
joined_train = df_train.merge(blm_train, how = 'left', on='lnd_us_sttn_nm(clean)')
joined_train[['bldng_ar', 'lnd_ar', 'lnd_us_sttn_nm(clean)', 'blm']]
df_train['bldng_ar'] = joined_train.apply(lambda row : row['bldng_ar'] if row['bldng_ar'] != 0
                                               else round(row['lnd_ar'] * row['blm']) if (row['lnd_ar'] != 0) & (row['blm'] != 0)
                                               else 0, axis=1)
# a['bldng_ar'] = a.apply(lambda row :
#                         round(row['lnd_ar'] / blm_train['blm']) if row['lnd_us_sttn_nm(clean)'] ==

In [25]:
print_null(df_train)

건물채수가 0인 데이터:  0 개
건축면적이 0인 데이터:  8062 개
건물연면적 0인 데이터:  8425 개
토지면적이 0인 데이터:  25567 개
지상 층수 데이터 없는 데이터:  0 개
지하 층수 데이터 없는 데이터:  0 개
지상 층수가 0 :  7690 개
지하 층수가 0:  55576 개

#### 특수 기타, 발전소는 데이터 사례가 없기 때문에, 전체 평균으로 결측치를 채운다.

In [26]:
# 데이터 프레임의 lnd_ar가 채워졌는지 확인하는 메서드

def check_yyn(df, use):
    return df[(df['lnd_us_sttn_nm(clean)'] == use) & (df['ttl_ar'] != 0) & (df['bldng_ar'] != 0) & (df['lnd_ar'] == 0)][w]

In [27]:
def see_bl(df, use):
    bort = find_bort(df)
    
    if bort == 'b' : 
        a = df[(df['lnd_us_sttn_nm(clean)'] == use)]
        bl = a['bldng_ar'] / a['lnd_ar']
        blm = bl.mean()
        print(bl.mean())
        print(bl.median())
        sns.distplot(bl)
        return blm
    if bort == 't' :
        a = df[(df['lnd_us_sttn_nm(clean)'] == use)]
        bl = a['ttl_ar'] / a['lnd_ar']
        blm = bl.mean()
        print(bl.mean())
        print(bl.median())
        sns.distplot(bl)
        return blm

# 실행하기
def find_bl(df):
    a, bort = find_bort(df)
    
    if bort == 'b' : 
        bl = a['bldng_ar'] / a['lnd_ar']
        blm = bl.mean()
        return blm
    if bort == 't' :
        bl = a['ttl_ar'] / a['lnd_ar']
        blm = bl.mean()
        return blm

def fill_lnd(df, row, use, blm):
    
    if row['lnd_ar'] != 0:
        return row['lnd_ar']
    
    elif blm == 0 :
        return df['lnd_ar'].median()
    
    # ttl_ar == 0
    elif (row['ttl_ar'] == 0) :
        if row['bldng_ar'] == 0 :
            return 0
        elif row['bldng_ar'] != 0 :
            blm = find_bl(use, 'b')
            return row['bldng_ar'] / blm

    # ttl_ar != 0
    elif row['bldng_ar'] == 0 :
        return row['ttl_ar'] / blm

    # ttl_ar != 0 b_ar != 0
    else :
        return row['bldng_ar'] / blm

In [28]:
joined = df_train.merge(blm_train, how = 'left', on='lnd_us_sttn_nm(clean)')
len(joined)

59191

In [29]:
#데이터프레임마다 토지사용목적에 따라
df_l = [df_train, df_test, df_valid]

for df in df_l :
    joined = df.merge(blm_train, how = 'left', on='lnd_us_sttn_nm(clean)')
    use_l = df['lnd_us_sttn_nm(clean)'].unique()
    
    df['lnd_ar'] = joined.apply(lambda row: 
                                row['lnd_ar'] if row['lnd_ar'] != 0
                                else 0 if (row['ttl_ar'] == 0) & (row['bldng_ar'] == 0)
                                else row['bldng_ar'] / row['blm'] if (row['bldng_ar'] != 0) & (row['bort'] == 'b') & (row['blm'] != 0) 
                                else row['ttl_ar'] / row['tlm'] if (row['ttl_ar'] != 0) &(row['bort'] == 't') & (row['tlm'] != 0)
                                else row['ttl_ar'] / tlm_medi if (row['ttl_ar'] != 0)
                                else row['bldng_ar'] / blm_medi if (row['bldng_ar'] != 0)
                                else 0 
                                , axis = 1)

## 04. 연면적 결측치 (ttl_ar)

In [30]:
for df in df_l:
    df['ttl_ar'] = df.apply(lambda row :
                            row['ttl_ar'] if row['ttl_ar'] != 0
                            else (row['bldng_ar'] * (row['ttl_grnd_flr'] + row['ttl_dwn_flr']) )if (row['bldng_ar'] != 0)* ((row['ttl_grnd_flr'] + row['ttl_dwn_flr']) >= 1)
                            else row['bldng_ar'] if (row['bldng_ar'] != 0)
                            else 0
                           ,axis = 1)

In [47]:
D = df_train
A = D['ttl_ar'] == 0
B = D['bldng_ar'] == 0
C = D['lnd_ar'] == 0
us_cnt = pd.DataFrame()


d = D[A & B & C]
us_cnt['nnn'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

d = D[A & B & ~C] 
us_cnt['nny'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

d = D[A & ~B & ~C] 
us_cnt['nyy'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

d = D[A & ~B & C]
us_cnt['nyn'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

d = D[~A & B & C] 
us_cnt['ynn'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

d = D[~A & ~B & C] 
us_cnt['yyn'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

d = D[~A & B & ~C] 
us_cnt['yny'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

d = D[~A & ~B & ~C]
us_cnt['yyy'] = d.groupby('lnd_us_sttn_nm(clean)').count()['id']

us_cnt['sum'] = us_cnt.apply(lambda row : row.sum(), axis = 1)
us_cnt.loc['sum'] = us_cnt.apply(lambda col : col.sum())

us_cnt.reset_index()

   lnd_us_sttn_nm(clean)  nnn  nny  nyy  nyn  ynn  yyn  yny      yyy      sum
0                고속도로휴게소  NaN  NaN  NaN  NaN  NaN  NaN  NaN     15.0     15.0
1                골프장 대중제  NaN  NaN  NaN  NaN  NaN  NaN  NaN      1.0      1.0
2                골프장 회원제  NaN  NaN  NaN  NaN  NaN  NaN  NaN      8.0      8.0
3                   공업기타  NaN  NaN  NaN  NaN  NaN  NaN  NaN    147.0    147.0
4                   공업나지  NaN  NaN  NaN  NaN  NaN  NaN  NaN    115.0    115.0
5                    공업용  NaN  NaN  NaN  NaN  NaN  NaN  NaN   2119.0   2119.0
6                    공원등  NaN  NaN  NaN  NaN  NaN  NaN  NaN     46.0     46.0
7                   공원묘지  NaN  NaN  NaN  NaN  NaN  NaN  NaN      2.0      2.0
8                    과수원  NaN  NaN  NaN  NaN  NaN  NaN  NaN    285.0    285.0
9                     기타  NaN  NaN  NaN  NaN  NaN  NaN  NaN     38.0     38.0
10                   다세대  NaN  NaN  NaN  NaN  NaN  NaN  NaN    229.0    229.0
11                    단독  NaN  NaN  NaN  NaN  NaN  NaN  NaN  35397.0  35397.0
12                     답  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1367.0   1367.0
13                   답기타  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1196.0   1196.0
14                   도로등  NaN  NaN  NaN  NaN  NaN  NaN  NaN    681.0    681.0
15                  목장용지  NaN  NaN  NaN  NaN  NaN  NaN  NaN     21.0     21.0
16                   발전소  NaN  NaN  NaN  NaN  NaN  NaN  NaN      1.0      1.0
17                  상업기타  NaN  NaN  NaN  NaN  NaN  NaN  NaN    258.0    258.0
18                  상업나지  NaN  NaN  NaN  NaN  NaN  NaN  NaN    142.0    142.0
19                   상업용  NaN  NaN  NaN  NaN  NaN  NaN  NaN   3193.0   3193.0
20                   스키장  NaN  NaN  NaN  NaN  NaN  NaN  NaN      1.0      1.0
21                   아파트  NaN  NaN  NaN  NaN  NaN  NaN  NaN    737.0    737.0
22                   업무용  NaN  NaN  NaN  NaN  NaN  NaN  NaN    231.0    231.0
23              여객자동차터미널  NaN  NaN  NaN  NaN  NaN  NaN  NaN     12.0     12.0
24                    연립  NaN  NaN  NaN  NaN  NaN  NaN  NaN    144.0    144.0
25                  운동장등  NaN  NaN  NaN  NaN  NaN  NaN  NaN     38.0     38.0
26                  위험시설  NaN  NaN  NaN  NaN  NaN  NaN  NaN      5.0      5.0
27                   유원지  NaN  NaN  NaN  NaN  NaN  NaN  NaN      3.0      3.0
28               유해.혐오시설  NaN  NaN  NaN  NaN  NaN  NaN  NaN     35.0     35.0
29                  임야기타  NaN  NaN  NaN  NaN  NaN  NaN  NaN     75.0     75.0
30                   자연림  NaN  NaN  NaN  NaN  NaN  NaN  NaN    735.0    735.0
31                     전  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1561.0   1561.0
32                   전기타  NaN  NaN  NaN  NaN  NaN  NaN  NaN    840.0    840.0
33                    조림  NaN  NaN  NaN  NaN  NaN  NaN  NaN     63.0     63.0
34                  주거기타  NaN  NaN  NaN  NaN  NaN  NaN  NaN   4128.0   4128.0
35                  주거나지  NaN  NaN  NaN  NaN  NaN  NaN  NaN   1159.0   1159.0
36                  주상기타  NaN  NaN  NaN  NaN  NaN  NaN  NaN    471.0    471.0
37                  주상나지  NaN  NaN  NaN  NaN  NaN  NaN  NaN    189.0    189.0
38                   주상용  NaN  NaN  NaN  NaN  NaN  NaN  NaN   2957.0   2957.0
39                  주차장등  NaN  NaN  NaN  NaN  NaN  NaN  NaN     50.0     50.0
40                 콘도미니엄  NaN  NaN  NaN  NaN  NaN  NaN  NaN      1.0      1.0
41                  토지임야  NaN  NaN  NaN  NaN  NaN  NaN  NaN    125.0    125.0
42                  특수기타  NaN  NaN  NaN  NaN  NaN  NaN  NaN      2.0      2.0
43                   하천등  NaN  NaN  NaN  NaN  NaN  NaN  NaN    368.0    368.0
44                   sum  0.0  0.0  0.0  0.0  0.0  0.0  0.0  59191.0  59191.0

-----------

<br>
<br>
<br>
<br>
<br>
<br>

In [ ]:
g = df_train.groupby('month', 'lnd_us_sttn_nm(clean)')[['hmdt', 'tmprtr']]

In [ ]:
from plotly import express as ex
from plotly import graph_objects as go

In [ ]:
g.corr()

In [ ]:
df_train[A & B & C][['bldng_cnt','lnd_us_sttn_nm(clean)', 'fire_yes']]
a = df_train[(df_train['lnd_us_sttn_nm(clean)'] == '답') & df_train['fire_yes'] == 1]
b = df_train[(df_train['lnd_us_sttn_nm(clean)'] == '답') & df_train['fire_yes'] == 0]

In [ ]:
a.groupby('month').count()['id']

In [ ]:
b.groupby('month').count()['id']

In [ ]:
plt.hist(a['month'])

In [ ]:
plt.hist(b['month'])

In [ ]:
print_null(df_tr)
print_null(df_train)

# 면적 데이터가 아에 없는 경우

In [ ]:
count = df_train[(df_train['ttl_ar'] == 0) & (df_train['lnd_ar'] == 0) & (df_train['bldng_ar']==0)].groupby('lnd_us_sttn_nm(clean)')['id'].count()

In [ ]:
count

In [ ]:
b = pd.DataFrame()

for use in use_l :
    dt = [np.std(df_train[df_train['lnd_us_sttn_nm(clean)'] == use]['bldng_ar']),
          np.mean(df_train[df_train['lnd_us_sttn_nm(clean)'] == use]['bldng_ar']),
          np.median(df_train[df_train['lnd_us_sttn_nm(clean)'] == use]['bldng_ar'])]
    
    b[use] = dt

a = np.transpose(b)
a = a.reset_index()
a = a.rename(columns = {'index': 'lnd_us_sttn_nm(clean)'})

### 일단 중앙값으로 모두 채우기

In [41]:
df_l = [df_train, df_test, df_valid]

In [45]:
t = pd.DataFrame()
use_l = df_tr_nn['lnd_us_sttn_nm(clean)'].unique()

for use in use_l :
    dt = [round(np.median(df_tr_nn[df_tr_nn['lnd_us_sttn_nm(clean)'] == use]['lnd_ar']), 1),
          round(np.median(df_tr_nn[df_tr_nn['lnd_us_sttn_nm(clean)'] == use]['ttl_ar']), 1),
          round(np.median(df_tr_nn[df_tr_nn['lnd_us_sttn_nm(clean)'] == use]['bldng_ar']),1)]
    t[use] = dt
ta = np.transpose(t)
ta = ta.reset_index()
ta = ta.rename(columns = {'index': 'lnd_us_sttn_nm(clean)'})
ta = ta.rename(columns={0:'lnd_ar', 1:'ttl_ar', 2:'bldng_ar'})
ta

   lnd_us_sttn_nm(clean)     lnd_ar   ttl_ar  bldng_ar
0                     단독      330.8     96.5      91.0
1                    상업용      441.3    428.2     199.3
2                    주상용      244.6    263.1     126.8
3                    아파트     5623.5  12278.4    1400.0
4                   주거기타      629.0    198.9     162.6
5                   주거나지      356.0    136.7     106.5
6                    업무용     1101.1    872.5     444.1
7                   주상기타      300.0    285.4     139.2
8                   운동장등     7962.0    414.0     403.7
9                    전기타      969.0    198.0     198.0
10                   다세대      350.1    613.8     178.4
11                    연립      695.0   1084.0     341.3
12                   과수원      657.5    114.1     109.8
13                   공업용     4064.0   1373.0    1146.7
14                   답기타     1163.0    307.5     306.4
15                     전      660.0    110.8     103.7
16                  공업기타     1204.0    424.8     324.0
17                  상업기타      375.0    325.3     167.7
18                   하천등      609.0    260.5     205.0
19                  공업나지     5577.5   1882.1    1439.8
20                     답      866.0    162.0     156.3
21                   자연림     1066.8    159.3     126.3
22                  주차장등     2203.6   2049.0    1057.6
23                  주상나지      231.6    344.8     130.5
24                   도로등      593.5    102.3      95.5
25                  상업나지      477.0    615.3     253.1
26              여객자동차터미널    26788.5   4768.4    3434.2
27               골프장 대중제  1436632.0  11049.2    5971.0
28               유해.혐오시설    24396.0   2718.0    1650.4
29                  임야기타      963.0    161.0     137.6
30               골프장 회원제  3458008.8  11128.8    6748.2
31                  토지임야      630.0     69.4      74.3
32                   공원등     9924.5    129.0     118.7
33                    기타     9102.0    505.2     476.2
34                   스키장  4188412.0  40952.3   14499.1
35                  목장용지     9101.0    454.0     454.0
36                  공원묘지   174647.0   4001.1    2393.8
37                   유원지  4769365.0   7696.3    4995.2
38                  위험시설    15120.0    103.0     103.0
39                    조림     1210.5     94.5      94.5
40               고속도로휴게소   935230.0   2373.8    2307.2

In [46]:
def fb(row):
    if row['bldng_ar'] == 0:
        return ta[ta['lnd_us_sttn_nm(clean)'] == row['lnd_us_sttn_nm(clean)']]['bldng_ar']

def ft(row):
    if row['ttl_ar'] == 0:
        return ta[ta['lnd_us_sttn_nm(clean)'] == row['lnd_us_sttn_nm(clean)']]['ttl_ar']

def fl(row):
    if row['lnd_ar'] == 0:
        return ta[ta['lnd_us_sttn_nm(clean)'] == row['lnd_us_sttn_nm(clean)']]['lnd_ar']

    
    
for df in df_l:
    df['bldng_ar'] = df.apply(fb, axis = 1)
    df['ttl_ar'] = df.apply(ft, axis = 1)
    df['lnd_ar'] = df.apply(fl, axis = 1)

In [48]:
# 저장하기

df_test.to_csv('test_PCA_fill_ar.csv', index=False)
df_train.to_csv('train_PCA_fill_ar.csv', index=False)
df_valid.to_csv('valid_PCA_fill_ar.csv', index=False)